Repository Health-Informatics-UoN/carrot-mapper, changes with the labels that .github/labeler.yml gives for each.
All labels: Area: Migrations, dependencies, Area: CI, Area: Backend, Area: Frontend, Area: Workers

.github/labeler.yml:

"Area: Migrations":
  - "app/shared/mapping/migrations/*"
  - "app/shared/files/migrations/*"
  - "app/shared/jobs/migrations/*"

dependencies:
  - "poetry.lock"
  - "pyproject.toml"
  - "app/workers/poetry.lock"
  - "app/workers/pyproject.toml"
  - "app/shared/poetry.lock"
  - "app/shared/pyproject.toml"
  - "app/api/poetry.lock"
  - "app/api/pyproject.toml"
  - "app/next-client-app/package-lock.json"
  - "app/next-client-app/package.json"

"Area: CI":
  - ".github/**/*"

"Area: Backend":
  - "app/api/**"
  - "app/shared/**"

"Area: Frontend":
  - "app/next-client-app/**"

"Area: Workers":
  - "app/workers/**"

clean up
  app/api/api/views.py
  app/next-client-app/components/scanreports/ScanReportTableUpdateForm.tsx
Labels: Area: Backend, Area: Frontend

First run of deleting optimistically
  app/next-client-app/api/concepts.ts
  app/next-client-app/app/(protected)/scanreports/[id]/tables/[tableId]/fields/[fieldId]/beta/columns.tsx
  app/next-client-app/components/concepts/ConceptTagsV3.tsx
  app/next-client-app/lib/api/request.ts
Labels: Area: Frontend

Added more Default shadcdn to the components
  app/next-client-app/app/globals.css
  app/next-client-app/components/data-table/DataTablePagination.tsx
  app/next-client-app/components/ui/badge.tsx
  app/next-client-app/components/ui/checkbox.tsx
  app/next-client-app/components/ui/command.tsx
  app/next-client-app/components/ui/dialog.tsx
  app/next-client-app/components/ui/drawer.tsx
  app/next-client-app/components/ui/sheet.tsx
  app/next-client-app/components/ui/switch.tsx
  app/next-client-app/components/ui/textarea.tsx
Labels: Area: Frontend

fix sh ending
  .gitattributes
Labels: none

Fix entrypoint.sh line ending (#1099)
  .gitattributes
Labels: none

Added custom shadcdn styling to fix drop down and dialog back grounds
  app/next-client-app/app/globals.css
  app/next-client-app/components/datasets/CreateDatasetDialog.tsx
  app/next-client-app/tailwind.config.ts
Labels: Area: Frontend

Add background color on hover
  app/next-client-app/app/globals.css
  app/next-client-app/components/data-table/DataTableColumnHeader.tsx
  app/next-client-app/components/data-table/index.tsx
Labels: Area: Frontend

use checkbox and move the question up
  app/next-client-app/components/scanreports/ScanReportTableUpdateForm.tsx
Labels: Area: Frontend

Added Hover effect on table rows
  app/next-client-app/components/data-table/index.tsx
Labels: Area: Frontend

Made tabs button shadcdn compliant
  app/next-client-app/components/core/nav-button.tsx
Labels: Area: Frontend

Made tabs button shadcdn compliant
  app/next-client-app/app/(protected)/scanreports/[id]/tables/[tableId]/fields/[fieldId]/page.tsx
Labels: Area: Frontend

Made tabs button shadcdn compliant
  app/next-client-app/app/(protected)/scanreports/[id]/tables/[tableId]/page.tsx
Labels: Area: Frontend

Added o hover effect to navbar items
  app/next-client-app/components/core/nav-button.tsx
  app/next-client-app/components/core/sidebar-button.tsx
  app/next-client-app/components/core/sidebar.tsx
Labels: Area: Frontend

Added custom hover effect background
  app/next-client-app/app/globals.css
  app/next-client-app/components/core/UserMenu.tsx
  app/next-client-app/components/core/mode-toggle.tsx
Labels: Area: Frontend

Remove spaces on nav button
  app/next-client-app/components/core/nav-button.tsx
Labels: Area: Frontend

Fixed drop down on create dataset form
  app/next-client-app/app/globals.css
  app/next-client-app/components/form-components/FormikSelect.tsx
Labels: Area: Frontend

Added custom colour for diselect buttons
  app/next-client-app/app/globals.css
Labels: Area: Frontend

Add ability to skip reusing concepts (#1098)
  app/airflow/dags/libs/auto_mapping/find_R_concepts_to_reuse.py
  app/api/api/views.py
  app/next-client-app/api/scanreports.ts
  app/next-client-app/components/scanreports/ScanReportTableUpdateForm.tsx
  app/next-client-app/types/scanreport.ts
  app/shared/shared/mapping/migrations/0006_scanreporttable_trigger_reuse.py
  app/shared/shared/mapping/models.py
  app/shared/shared/services/worker_service.py
  app/workers/RulesConceptsActivity/__init__.py
  docker-compose.yml
Labels: Area: Backend, Area: Frontend, Area: Workers

restructure docker compose
  docker-compose.yml
Labels: none

seperate minio and azure resource creation
  app/shared/shared/mapping/management/commands/automatic_queue_and_containers_creation.py
Labels: Area: Backend

Added Projects avatar orange colour
  app/next-client-app/app/(protected)/projects/page.tsx
Labels: Area: Frontend

Added colour to dataset avatar
  app/next-client-app/app/(protected)/datasets/page.tsx
Labels: Area: Frontend

Add Colour to scan report icon
  app/next-client-app/app/(protected)/scanreports/page.tsx
Labels: Area: Frontend

Added colours to icons on Scan reports, projects and datasets
  app/next-client-app/app/(protected)/datasets/[id]/layout.tsx
  app/next-client-app/app/(protected)/projects/[id]/layout.tsx
  app/next-client-app/app/(protected)/scanreports/[id]/layout.tsx
  app/next-client-app/constants/scanReportStatus.ts
Labels: Area: Frontend

Added styling for upload and mapping statuses
  app/next-client-app/constants/scanReportStatus.ts
  app/next-client-app/tailwind.config.ts
Labels: Area: Frontend

Improved scan report status and reports tabs
  app/next-client-app/app/(protected)/datasets/[id]/page.tsx
  app/next-client-app/constants/scanReportStatus.ts
Labels: Area: Frontend

Added styling for toast messages
  app/next-client-app/app/globals.css
  app/next-client-app/tailwind.config.ts
Labels: Area: Frontend

Added bg colour for avatar
  app/next-client-app/app/globals.css
  app/next-client-app/components/core/avatar-list.tsx
Labels: Area: Frontend

fix query
  app/airflow/dags/libs/SR_processing/core.py
Labels: none

Fix upload SR query (#1102)
  app/airflow/dags/libs/SR_processing/core.py
Labels: none

test
  app/next-client-app/app/layout.tsx
  app/next-client-app/components/scanreports/ScanReportTableUpdateForm.tsx
  app/next-client-app/next.config.js
  app/next-client-app/package-lock.json
  app/next-client-app/package.json
  docker-compose.yml
Labels: dependencies, Area: Frontend

drop R concepts in both cases
  app/airflow/dags/libs/auto_mapping/find_R_concepts_to_reuse.py
Labels: none

test env var at next.config
  app/next-client-app/next.config.js
  docker-compose.yml
Labels: Area: Frontend

test env avr
  .github/workflows/deploy.yml
Labels: Area: CI

add env var for prod
  .github/workflows/deploy.production.yml
Labels: Area: CI

set default
  app/next-client-app/next.config.js
Labels: Area: Frontend

Tidy up docker compose file (#1101)
  app/shared/shared/mapping/management/commands/automatic_queue_and_containers_creation.py
  docker-compose.yml
Labels: Area: Backend

Added hover effect on Scan report filters
  app/next-client-app/app/globals.css
  app/next-client-app/components/scanreports/FacetsFilter.tsx
Labels: Area: Frontend

Added hover effect on dataset toggle
  app/next-client-app/components/data-table/index.tsx
Labels: Area: Frontend

Add v3 concepts add
  app/next-client-app/app/(protected)/scanreports/[id]/tables/[tableId]/fields/[fieldId]/beta/columns.tsx
  app/next-client-app/components/concepts/AddConceptV3.tsx
Labels: Area: Frontend
