Repository Health-Informatics-UoN/carrot-mapper, changes with the labels that .github/labeler.yml gives for each.
All labels: Area: Migrations, dependencies, Area: CI, Area: Backend, Area: Frontend, Area: Workers

solve one bug in matching field finding
  app/airflow/dags/libs/find_R_concepts_to_reuse.py
Labels: none

add skipping V concepts if no field-vocab pairs provided
  app/airflow/dags/libs/find_standard_V_concepts.py
Labels: none

move back the drop R table command
  app/airflow/dags/libs/find_R_concepts_to_reuse.py
Labels: none

move admin config to env. vars
  app/airflow/Dockerfile.scheduler
  app/airflow/Dockerfile.webserver
  app/airflow/entrypoint-scheduler.sh
  app/airflow/entrypoint-webserver.sh
  docker-compose.yml
Labels: none

make admin credentails to be compulsory
  app/airflow/entrypoint-webserver.sh
Labels: none

add todo
  app/airflow/dags/libs/find_R_concepts_to_reuse.py
Labels: none

skip Admin creation when it existed
  app/airflow/entrypoint-webserver.sh
  docker-compose.yml
Labels: none

reform the bridge
  app/api/config/settings.py
  app/shared/shared/services/function_service.py
  docker-compose.yml
Labels: Area: Backend

modify AF base url
  app/shared/shared/services/function_service.py
  docker-compose.yml
Labels: Area: Backend

add bridge for SR processing and rules exporting
  app/api/api/views.py
  app/api/config/settings.py
  app/shared/shared/files/views.py
  app/shared/shared/services/function_service.py
  docker-compose.yml
Labels: Area: Backend

Move Swagger Urls to App Urls
  app/api/api/urls.py
  app/api/config/urls.py
Labels: Area: Backend

Make Docstring better
  app/api/api/views.py
Labels: Area: Backend

Standardize Swagger URls to match other app urls
  app/api/api/urls.py
Labels: Area: Backend

optimise class FunctionService
  app/shared/shared/services/function_service.py
Labels: Area: Backend

Fix drf-spectacular warnings
  app/api/config/settings.py
Labels: Area: Backend

fix type
  app/api/config/settings.py
Labels: Area: Backend

simplify and add one todo
  app/shared/shared/services/function_service.py
Labels: Area: Backend

improve docstring
  app/shared/shared/services/function_service.py
Labels: Area: Backend

Added Multi Stage Build - API Dockerfile
  app/api/.dockerignore
  app/api/Dockerfile
Labels: Area: Backend

Added Multi Stage Build - Workers Dockerfile
  app/workers/.dockerignore
  app/workers/Dockerfile
Labels: Area: Workers

change default function type
  app/api/config/settings.py
Labels: Area: Backend

ALLOW not ALLOWED
  app/api/config/settings.py
Labels: Area: Backend

improve the queries: used parameteried queries and move the long ones to a separate file
  app/airflow/dags/libs/core_get_existing_concepts.py
  app/airflow/dags/libs/core_prep_rules_creation.py
  app/airflow/dags/libs/core_rules_creation.py
  app/airflow/dags/libs/find_R_concepts_to_reuse.py
  app/airflow/dags/libs/queries.py
Labels: none

improve part 1
  app/airflow/dags/libs/core_get_existing_concepts.py
  app/airflow/dags/libs/core_prep_rules_creation.py
  app/airflow/dags/libs/core_rules_creation.py
  app/airflow/dags/libs/utils.py
Labels: none

improve part 2
  app/airflow/dags/libs/find_standard_V_concepts.py
Labels: none

improve part 3
  app/airflow/dags/libs/find_R_concepts_to_reuse.py
Labels: none

fix #1031 (#1032)
  app/api/config/settings.py
Labels: Area: Backend

Don't reuse concepts from the same scan report
  app/airflow/dags/libs/queries.py
Labels: none

improve validate params func
  app/airflow/dags/auto_mapping_dag.py
  app/airflow/dags/libs/utils.py
Labels: none

add trigger_reuse_concepts param
  app/airflow/dags/libs/find_R_concepts_to_reuse.py
Labels: none

use same method for now
  app/shared/shared/services/function_service.py
Labels: Area: Backend

Add reuse function for Airlfow workers (#1030)
  app/airflow/Dockerfile.scheduler
  app/airflow/Dockerfile.webserver
  app/airflow/dags/auto_mapping_dag.py
  app/airflow/dags/auto_mapping_orchestrator_dag.py
  app/airflow/dags/concepts_from_vocab_dag.py
  app/airflow/dags/libs/core_get_existing_concepts.py
  app/airflow/dags/libs/core_prep_rules_creation.py
  app/airflow/dags/libs/core_rules_creation.py
  app/airflow/dags/libs/find_R_concepts_to_reuse.py
  app/airflow/dags/libs/find_standard_V_concepts.py
  app/airflow/dags/libs/queries.py
  app/airflow/dags/libs/utils.py
  app/airflow/entrypoint-scheduler.sh
  app/airflow/entrypoint-webserver.sh
  docker-compose.yml
Labels: none

change default function type for now
  docker-compose.yml
Labels: none

move up the trigger
  app/api/api/views.py
Labels: Area: Backend

fix bug for SR without DD
  app/shared/shared/services/function_service.py
Labels: Area: Backend

fix conflict when merge master
  app/airflow/dags/libs/utils.py
Labels: none

Fix most warnings
  app/api/api/serializers.py
  app/api/api/views.py
  app/api/authn/views.py
  app/api/config/settings.py
  app/api/datasets/views.py
  app/api/projects/serializers.py
  app/shared/shared/files/views.py
  app/shared/shared/users/__init__.py
  app/shared/shared/users/serializers.py
Labels: Area: Backend

update name
  app/api/config/settings.py
  app/shared/shared/services/function_service.py
  docker-compose.yml
Labels: Area: Backend

Removed unused packages - API
  app/api/Dockerfile
  app/api/pyproject.toml
Labels: dependencies, Area: Backend

Re use userserializer in FileDownloadSerializer
  app/shared/shared/files/serializers.py
Labels: Area: Backend

.github/labeler.yml:

"Area: Migrations":
  - "app/shared/mapping/migrations/*"
  - "app/shared/files/migrations/*"
  - "app/shared/jobs/migrations/*"

dependencies:
  - "poetry.lock"
  - "pyproject.toml"
  - "app/workers/poetry.lock"
  - "app/workers/pyproject.toml"
  - "app/shared/poetry.lock"
  - "app/shared/pyproject.toml"
  - "app/api/poetry.lock"
  - "app/api/pyproject.toml"
  - "app/next-client-app/package-lock.json"
  - "app/next-client-app/package.json"

"Area: CI":
  - ".github/**/*"

"Area: Backend":
  - "app/api/**"
  - "app/shared/**"

"Area: Frontend":
  - "app/next-client-app/**"

"Area: Workers":
  - "app/workers/**"
