Repository Health-Informatics-UoN/carrot-mapper, changes with the labels that .github/labeler.yml gives for each.
All labels: Area: Migrations, dependencies, Area: CI, Area: Backend, Area: Frontend, Area: Workers

pass sr name in the msg body
  app/airflow/dags/libs/utils.py
  app/shared/shared/files/views.py
  app/workers/RulesFileQueue/__init__.py
Labels: Area: Backend, Area: Workers

fix csv builder
  app/airflow/dags/libs/rules_export/file_services.py
Labels: none

move storage_services
  app/airflow/dags/libs/SR_processing/helpers.py
  app/airflow/dags/libs/storage_services.py
Labels: none

move storage_services
  app/airflow/dags/libs/SR_processing/core.py
Labels: none

fix file services
  app/airflow/dags/libs/rules_export/core.py
  app/airflow/dags/libs/rules_export/file_services.py
Labels: none

add msg
  app/airflow/dags/libs/storage_services.py
Labels: none

Created Automatic Schema Scripts
  app/shared/shared/mapping/management/commands/automatic_airflow_schema_creation.py
Labels: Area: Backend

Added Condition for Airflow
  docker-compose.yml
Labels: none

Wait for it - Airflow
  app/airflow/entrypoint-scheduler.sh
  app/airflow/entrypoint-webserver.sh
Labels: none

Added Automatic Airflow in entrypoint
  app/api/entrypoint.sh
Labels: Area: Backend

Black Formatted
  app/shared/shared/mapping/management/commands/automatic_airflow_schema_creation.py
Labels: Area: Backend

add errors handling
  app/airflow/dags/libs/rules_export/file_services.py
Labels: none

refactor 1
  app/airflow/dags/libs/rules_export/core.py
  app/airflow/dags/rules_export_dag.py
Labels: none

done minio upload
  app/airflow/dags/libs/storage_services.py
Labels: none

update todo
  app/airflow/dags/libs/storage_services.py
Labels: none

improve update_job_status
  app/airflow/dags/libs/utils.py
Labels: none

add file entry to the database
  app/airflow/dags/libs/rules_export/core.py
Labels: none

add file entry to the database 2
  app/airflow/dags/libs/queries.py
Labels: none

add update job status
  app/airflow/dags/libs/rules_export/file_services.py
Labels: none

add supoort for domain SPEC ANATOMIC SITE
  app/airflow/dags/libs/auto_mapping/find_standard_V_concepts.py
  app/airflow/dags/libs/queries.py
Labels: none

centralise os.getenv
  app/airflow/dags/libs/settings.py
  app/airflow/dags/libs/storage_services.py
  app/airflow/dags/libs/utils.py
Labels: none

update DAGs settings
  app/airflow/dags/SR_processing_dag.py
  app/airflow/dags/auto_mapping_dag.py
  app/airflow/dags/rules_export_dag.py
Labels: none

update docstring
  app/airflow/dags/rules_export_dag.py
Labels: none

Renamed Scripts & Improved Workers Referencing
  app/api/entrypoint.sh
  app/shared/shared/mapping/management/commands/airflow_schema_creation.py
Labels: Area: Backend

clean up
  app/airflow/dags/auto_mapping_dag.py
  app/airflow/dags/rules_export_dag.py
Labels: none

add clean up tables step
  app/airflow/dags/libs/auto_mapping/core_rules_creation.py
  app/airflow/dags/libs/auto_mapping/find_R_concepts_to_reuse.py
  app/airflow/dags/libs/auto_mapping/find_standard_V_concepts.py
  app/airflow/dags/libs/queries.py
  app/airflow/dags/libs/rules_export/core.py
Labels: none

intial add fixed workflow
  .github/workflows/deployAirflow.non-prod.yml
Labels: Area: CI

add todo
  .github/workflows/deployAirflow.non-prod.yml
Labels: Area: CI

add deploy step for Airflow
  .github/workflows/deploy-Airflow.non-prod.yml
  .github/workflows/deployAirflow.non-prod.yml
Labels: Area: CI

add permissions
  .github/workflows/deploy-Airflow.non-prod.yml
Labels: Area: CI

add env var for scheduler
  docker-compose.yml
Labels: none

Fix Airflow publish/deploy workflow (#1080)
  .github/workflows/deploy-Airflow.non-prod.yml
Labels: Area: CI

fix chmod: changing permissions of '/temp': Operation not permitted
  app/airflow/Dockerfile.scheduler
  app/airflow/Dockerfile.webserver
Labels: none

Refactored Airflow Dockerfiles
  app/airflow/Dockerfile.airflow
  app/airflow/Dockerfile.scheduler
Labels: none

Refactored Airflow Images
  docker-compose.yml
Labels: none

add health check for api
  app/api/Dockerfile
  app/api/api/views.py
  app/api/config/urls.py
  docker-compose.yml
Labels: Area: Backend

add condition for api in frontend app
  docker-compose.yml
Labels: none

Revoke wait for it changes in scheduler
  app/airflow/entrypoint-scheduler.sh
Labels: none

Revoke wait for it changes in webserver
  app/airflow/entrypoint-webserver.sh
Labels: none

Automatic-Schema-Creation-for-Airflow (#1079)
  app/airflow/entrypoint-scheduler.sh
  app/airflow/entrypoint-webserver.sh
  app/api/Dockerfile
  app/api/api/views.py
  app/api/config/urls.py
  app/api/entrypoint.sh
  app/shared/shared/mapping/management/commands/airflow_schema_creation.py
  docker-compose.yml
Labels: Area: Backend

.github/labeler.yml:

"Area: Migrations":
  - "app/shared/mapping/migrations/*"
  - "app/shared/files/migrations/*"
  - "app/shared/jobs/migrations/*"

dependencies:
  - "poetry.lock"
  - "pyproject.toml"
  - "app/workers/poetry.lock"
  - "app/workers/pyproject.toml"
  - "app/shared/poetry.lock"
  - "app/shared/pyproject.toml"
  - "app/api/poetry.lock"
  - "app/api/pyproject.toml"
  - "app/next-client-app/package-lock.json"
  - "app/next-client-app/package.json"

"Area: CI":
  - ".github/**/*"

"Area: Backend":
  - "app/api/**"
  - "app/shared/**"

"Area: Frontend":
  - "app/next-client-app/**"

"Area: Workers":
  - "app/workers/**"
