Repository Health-Informatics-UoN/carrot-mapper, changes with the labels that .github/labeler.yml gives for each.
All labels: Area: Migrations, dependencies, Area: CI, Area: Backend, Area: Frontend, Area: Workers

.github/labeler.yml:

"Area: Migrations":
  - "app/shared/mapping/migrations/*"
  - "app/shared/files/migrations/*"
  - "app/shared/jobs/migrations/*"

dependencies:
  - "poetry.lock"
  - "pyproject.toml"
  - "app/workers/poetry.lock"
  - "app/workers/pyproject.toml"
  - "app/shared/poetry.lock"
  - "app/shared/pyproject.toml"
  - "app/api/poetry.lock"
  - "app/api/pyproject.toml"
  - "app/next-client-app/package-lock.json"
  - "app/next-client-app/package.json"

"Area: CI":
  - ".github/**/*"

"Area: Backend":
  - "app/api/**"
  - "app/shared/**"

"Area: Frontend":
  - "app/next-client-app/**"

"Area: Workers":
  - "app/workers/**"

move is_paused_upon_creation=False to DAG level
  app/airflow/dags/SR_processing_dag.py
  app/airflow/dags/auto_mapping_dag.py
  docker-compose.yml
Labels: none

initial add rules_export dag
  app/airflow/dags/libs/rules_export/core.py
  app/airflow/dags/rules_export_dag.py
Labels: none

add validator for rules export
  app/airflow/dags/libs/utils.py
Labels: none

add first task
  app/airflow/dags/rules_export_dag.py
Labels: none

add first logic to retrieve mapping rules data
  app/airflow/dags/libs/rules_export/core.py
  app/shared/shared/services/worker_service.py
Labels: Area: Backend

add pandas
  app/airflow/Dockerfile.scheduler
  app/airflow/Dockerfile.webserver
  app/airflow/pyproject.toml
  app/airflow/uv.lock
Labels: none

build json file part 1
  app/airflow/dags/libs/rules_export/core.py
  app/airflow/dags/libs/rules_export/file_services.py
Labels: none

add type
  app/airflow/dags/libs/type.py
Labels: none

initial add function to upload file to storage
  app/airflow/dags/libs/SR_processing/helpers.py
Labels: none

remove specimen support (for now)
  app/shared/shared/services/rules.py
  app/workers/RulesConceptsActivity/__init__.py
Labels: Area: Backend, Area: Workers

Remove specimen support in manual mapping and Azure functions (#1056)
  app/shared/shared/services/rules.py
  app/workers/RulesConceptsActivity/__init__.py
Labels: Area: Backend, Area: Workers

Completed Dependency updates
  app/api/config/settings.py
  app/api/pyproject.toml
  app/api/uv.lock
  app/shared/pyproject.toml
  app/shared/uv.lock
  app/workers/pyproject.toml
  docker-compose.yml
Labels: dependencies, Area: Backend, Area: Workers

Add Scan report processing DAG (#1055)
  app/airflow/Dockerfile.scheduler
  app/airflow/Dockerfile.webserver
  app/airflow/dags/SR_processing_dag.py
  app/airflow/dags/auto_mapping_dag.py
  app/airflow/dags/libs/SR_processing/core.py
  app/airflow/dags/libs/SR_processing/db_services.py
  app/airflow/dags/libs/SR_processing/helpers.py
  app/airflow/dags/libs/auto_mapping/core_get_existing_concepts.py
  app/airflow/dags/libs/auto_mapping/core_prep_rules_creation.py
  app/airflow/dags/libs/auto_mapping/core_rules_creation.py
  app/airflow/dags/libs/auto_mapping/find_R_concepts_to_reuse.py
  app/airflow/dags/libs/auto_mapping/find_standard_V_concepts.py
  app/airflow/dags/libs/enums.py
  app/airflow/dags/libs/queries.py
  app/airflow/dags/libs/utils.py
  app/airflow/pyproject.toml
  app/airflow/uv.lock
  app/shared/shared/services/worker_service.py
  docker-compose.yml
Labels: Area: Backend

initial add csv buidling
  app/airflow/dags/libs/rules_export/file_services.py
Labels: none

test
  app/api/config/settings.py
Labels: Area: Backend

add table columns
  app/airflow/dags/libs/rules_export/core.py
  app/airflow/dags/libs/rules_export/file_services.py
Labels: none

test again
  app/api/config/settings.py
Labels: Area: Backend

Fix formatting
  app/api/config/settings.py
Labels: Area: Backend

Fix formatting
  app/api/config/settings.py
Labels: Area: Backend

Fix formatting
  app/api/config/settings.py
Labels: Area: Backend

Fix Build error
  app/next-client-app/app/(protected)/datasets/[id]/details/page.tsx
Labels: Area: Frontend

Revert
  app/next-client-app/app/(protected)/datasets/[id]/details/page.tsx
Labels: Area: Frontend

Migrate to async Dynamic APIs
  app/next-client-app/app/(protected)/datasets/[id]/details/page.tsx
  app/next-client-app/app/(protected)/datasets/[id]/layout.tsx
  app/next-client-app/app/(protected)/datasets/[id]/page.tsx
  app/next-client-app/app/(protected)/datasets/page.tsx
  app/next-client-app/app/(protected)/projects/[id]/layout.tsx
  app/next-client-app/app/(protected)/projects/[id]/page.tsx
  app/next-client-app/app/(protected)/projects/page.tsx
  app/next-client-app/app/(protected)/scanreports/[id]/details/page.tsx
  app/next-client-app/app/(protected)/scanreports/[id]/downloads/page.tsx
  app/next-client-app/app/(protected)/scanreports/[id]/layout.tsx
  app/next-client-app/app/(protected)/scanreports/[id]/mapping_rules/page.tsx
  app/next-client-app/app/(protected)/scanreports/[id]/page.tsx
  app/next-client-app/app/(protected)/scanreports/[id]/review_rules/page.tsx
  app/next-client-app/app/(protected)/scanreports/[id]/tables/[tableId]/fields/[fieldId]/page.tsx
  app/next-client-app/app/(protected)/scanreports/[id]/tables/[tableId]/fields/[fieldId]/update/page.tsx
  app/next-client-app/app/(protected)/scanreports/[id]/tables/[tableId]/page.tsx
  app/next-client-app/app/(protected)/scanreports/[id]/tables/[tableId]/update/page.tsx
  app/next-client-app/app/(protected)/scanreports/page.tsx
Labels: Area: Frontend

Migrate to async Dynamic APIs
  app/next-client-app/app/(protected)/datasets/[id]/layout.tsx
Labels: Area: Frontend

Migrate to async Dynamic APIs on layout
  app/next-client-app/app/(protected)/datasets/[id]/layout.tsx
Labels: Area: Frontend

Migrate to async Dynamic APIs on layout
  app/next-client-app/app/(protected)/datasets/[id]/layout.tsx
Labels: Area: Frontend

Migrate to async Dynamic APIs on projects layout
  app/next-client-app/app/(protected)/projects/[id]/layout.tsx
Labels: Area: Frontend

Migrate to async Dynamic APIs on projects layout
  app/next-client-app/app/(protected)/projects/[id]/layout.tsx
Labels: Area: Frontend

Migrate to async Dynamic APIs on projects layout
  app/next-client-app/app/(protected)/projects/[id]/layout.tsx
Labels: Area: Frontend

Migrate to async Dynamic APIs on projects layout
  app/next-client-app/app/(protected)/projects/[id]/layout.tsx
Labels: Area: Frontend

Update next theme import
  app/next-client-app/components/core/theme-provider.tsx
Labels: Area: Frontend

Dubug Admin Login
  app/api/api/urls.py
  app/api/api/views.py
Labels: Area: Backend

tempo remove csv building func
  app/airflow/dags/libs/rules_export/file_services.py
Labels: none

Trial 1
  .github/workflows/deploy.yml
Labels: Area: CI

Trial - 2
  .github/workflows/deploy.yml
Labels: Area: CI

Trial - 2 added debugging
  .github/workflows/deploy.yml
Labels: Area: CI

Try dockerfile
  app/api/Dockerfile
  app/api/entrypoint.sh
Labels: Area: Backend

Try dockerfile (#1062)
  app/api/Dockerfile
  app/api/entrypoint.sh
Labels: Area: Backend

update names and fix type
  app/airflow/dags/libs/types.py
Labels: none

move query out and fix type
  app/airflow/dags/libs/queries.py
  app/airflow/dags/libs/rules_export/core.py
Labels: none
