Repository Health-Informatics-UoN/carrot-mapper, changes with the labels that .github/labeler.yml gives for each.
All labels: Area: Migrations, dependencies, Area: CI, Area: Backend, Area: Frontend, Area: Workers

Password reset (#1012)
  app/api/authn/urls.py
  app/api/authn/views.py
  app/api/config/settings.py
  app/api/poetry.lock
  app/next-client-app/api/password-reset.ts
  app/next-client-app/app/(protected)/password-reset/page.tsx
  app/next-client-app/app/(public)/accounts/login/page.tsx
  app/next-client-app/components/core/UserMenu.tsx
  app/next-client-app/components/core/sidebar.tsx
  docker-compose.yml
Labels: dependencies, Area: Backend, Area: Frontend

Optimised Workers Function
  app/shared/shared/services/field_vocab_mappings.py
  app/shared/shared/services/models.py
  app/shared/shared/services/vocab_mappings.py
Labels: Area: Backend

Revoked Few Changes - a317464
  app/workers/shared_code/db.py
  app/workers/shared_code/models.py
Labels: Area: Workers

fillter based on the sr table id as well
  app/airflow/dags/auto_mapping_orchestrator_dag.py
  app/airflow/dags/libs/core_reuse_concepts.py
Labels: none

Migrated to Poetry - Shared
  .github/workflows/test.yml
  app/shared/poetry.lock
  app/shared/pyproject.toml
  app/shared/uv.lock
Labels: dependencies, Area: CI, Area: Backend

fix naming
  app/airflow/dags/libs/core_reuse_concepts.py
Labels: none

refector and improve the logic
  app/airflow/dags/libs/core_reuse_concepts.py
  app/airflow/dags/reuse_concepts_dag.py
Labels: none

add docstring at the high-level
  app/airflow/dags/auto_mapping_orchestrator_dag.py
  app/airflow/dags/concepts_from_vocab_dag.py
Labels: none

make reuseable code
  app/airflow/dags/auto_mapping_orchestrator_dag.py
  app/airflow/dags/concepts_from_vocab_dag.py
  app/airflow/dags/libs/utils.py
Labels: none

add function to validate params and pull validated params
  app/airflow/dags/libs/utils.py
Labels: none

add validate param step
  app/airflow/dags/concepts_from_vocab_dag.py
Labels: none

pull and use validated params + add hint for function
  app/airflow/dags/libs/core_concepts_creation.py
  app/airflow/dags/libs/core_prep_rules_creation.py
  app/airflow/dags/libs/core_rules_creation.py
Labels: none

add more info for docstring
  app/airflow/dags/concepts_from_vocab_dag.py
  app/airflow/dags/libs/core_concepts_creation.py
  app/airflow/dags/libs/core_prep_rules_creation.py
  app/airflow/dags/libs/core_rules_creation.py
Labels: none

Add mapping rules creation and its prepration steps to Airflow app (#1019)
  .github/workflows/publish.Airflow.yml
  app/airflow/.gitignore
  app/airflow/dags/auto_mapping_orchestrator_dag.py
  app/airflow/dags/concepts_from_vocab_dag.py
  app/airflow/dags/libs/core.py
  app/airflow/dags/libs/core_concepts_creation.py
  app/airflow/dags/libs/core_prep_rules_creation.py
  app/airflow/dags/libs/core_rules_creation.py
  app/airflow/dags/libs/utils.py
  app/next-client-app/app/(protected)/scanreports/[id]/mapping_rules/columns.tsx
  app/shared/shared/services/rules_export.py
  docker-compose.yml
Labels: Area: CI, Area: Backend, Area: Frontend

Added DD Validator in Field Vocab Mappings
  app/shared/shared/services/field_vocab_mappings.py
Labels: Area: Backend

Fixed Grammar - pyproject.toml
  app/workers/pyproject.toml
Labels: dependencies, Area: Workers

Black Formatted
  app/shared/shared/services/field_vocab_mappings.py
Labels: Area: Backend

Separated Validation Function - DD
  app/shared/shared/services/field_vocab_mappings.py
Labels: Area: Backend

add validate param for R concepts
  app/airflow/dags/libs/utils.py
Labels: none

improve logic and code
  app/airflow/dags/libs/core_reuse_concepts.py
  app/airflow/dags/reuse_concepts_dag.py
Labels: none

clean up
  app/airflow/dags/libs/core_rules_creation.py
Labels: none

add has_DD in the R params
  app/airflow/dags/libs/utils.py
Labels: none

add more conditions for eligible values
  app/airflow/dags/libs/core_reuse_concepts.py
Labels: none

clean orchestrator
  app/airflow/dags/auto_mapping_orchestrator_dag.py
Labels: none

change name and update docstring of V concepts
  app/airflow/dags/create_concepts_from_vocab_dag.py
Labels: none

add first docstring for R concepts
  app/airflow/dags/reuse_concepts_dag.py
Labels: none

add find matching field task
  app/airflow/dags/libs/core_reuse_concepts.py
  app/airflow/dags/reuse_concepts_dag.py
Labels: none

add find_object_id task
  app/airflow/dags/libs/core_reuse_concepts.py
  app/airflow/dags/reuse_concepts_dag.py
Labels: none

Update index file for data table
  app/next-client-app/components/data-table/index.tsx
Labels: Area: Frontend

Poetry to UV for Workers (#1025)
  .github/workflows/test.yml
  app/workers/Dockerfile
  app/workers/poetry.lock
  app/workers/pyproject.toml
  app/workers/uv.lock
Labels: dependencies, Area: CI, Area: Workers

Migrated to UV for Root (#1024)
  poetry.lock
  pyproject.toml
  uv.lock
Labels: dependencies

Migrated to UV for API and Shared (#1022)
  .github/workflows/test.yml
  app/api/Dockerfile
  app/api/poetry.lock
  app/api/pyproject.toml
  app/api/uv.lock
  app/shared/poetry.lock
  app/shared/pyproject.toml
  app/shared/uv.lock
Labels: dependencies, Area: CI, Area: Backend

add creating reusing concepts task
  app/airflow/dags/libs/core_reuse_concepts.py
  app/airflow/dags/reuse_concepts_dag.py
Labels: none

Moved to Serializers
  app/api/api/serializers.py
  app/shared/shared/services/field_vocab_mappings.py
Labels: Area: Backend

Removed Conflict Marker - Serializers.py
  app/api/api/serializers.py
Labels: Area: Backend

Fixed Bugs - serializers.py
  app/api/api/serializers.py
Labels: Area: Backend

Black Formatted - Serializer.py
  app/api/api/serializers.py
Labels: Area: Backend

add prep steps for mapping rules generation
  app/airflow/dags/reuse_concepts_dag.py
Labels: none

refactor find concepts to reuse
  app/airflow/dags/libs/reuse_concepts/find_concepts_to_reuse.py
Labels: none

initial add step related to mapping rules generation
  app/airflow/dags/libs/reuse_concepts/prep_for_rules_creation.py
  app/airflow/dags/libs/reuse_concepts/rules_creation.py
Labels: none

.github/labeler.yml:

"Area: Migrations":
  - "app/shared/mapping/migrations/*"
  - "app/shared/files/migrations/*"
  - "app/shared/jobs/migrations/*"

dependencies:
  - "poetry.lock"
  - "pyproject.toml"
  - "app/workers/poetry.lock"
  - "app/workers/pyproject.toml"
  - "app/shared/poetry.lock"
  - "app/shared/pyproject.toml"
  - "app/api/poetry.lock"
  - "app/api/pyproject.toml"
  - "app/next-client-app/package-lock.json"
  - "app/next-client-app/package.json"

"Area: CI":
  - ".github/**/*"

"Area: Backend":
  - "app/api/**"
  - "app/shared/**"

"Area: Frontend":
  - "app/next-client-app/**"

"Area: Workers":
  - "app/workers/**"
