Repository Health-Informatics-UoN/carrot-mapper, changes with the labels that .github/labeler.yml gives for each.
All labels: Area: Migrations, dependencies, Area: CI, Area: Backend, Area: Frontend, Area: Workers

Changes Button Name & Size
  app/next-client-app/components/ui/ai-suggesions-button.tsx
Labels: Area: Frontend

optimise find matching field
  app/airflow/dags/libs/queries.py
Labels: none

fix the hot fix
  app/workers/RulesConceptsActivity/__init__.py
  app/workers/RulesConceptsActivity/reuse.py
  app/workers/shared_code/helpers.py
Labels: Area: Workers

fix the hot fix
  app/workers/RulesConceptsActivity/reuse.py
Labels: Area: Workers

refactor queries
  app/airflow/dags/auto_mapping_dag.py
  app/airflow/dags/libs/auto_mapping/core_get_existing_concepts.py
  app/airflow/dags/libs/auto_mapping/find_R_concepts_to_reuse.py
  app/airflow/dags/libs/queries.py
Labels: none

Fix bugs and optimise Airflow (#1089)
  app/airflow/dags/SR_processing_dag.py
  app/airflow/dags/auto_mapping_dag.py
  app/airflow/dags/libs/SR_processing/db_services.py
  app/airflow/dags/libs/auto_mapping/core_get_existing_concepts.py
  app/airflow/dags/libs/auto_mapping/core_rules_creation.py
  app/airflow/dags/libs/auto_mapping/find_R_concepts_to_reuse.py
  app/airflow/dags/libs/auto_mapping/find_standard_V_concepts.py
  app/airflow/dags/libs/queries.py
  app/airflow/dags/libs/rules_export/core.py
  app/airflow/dags/libs/rules_export/file_services.py
  app/airflow/dags/libs/settings.py
  app/airflow/dags/libs/utils.py
  app/airflow/dags/rules_export_dag.py
  app/shared/shared/enums.py
  app/shared/shared/services/rules_export.py
  app/workers/RulesConceptsActivity/__init__.py
  app/workers/RulesConceptsActivity/reuse.py
  app/workers/shared_code/helpers.py
  docker-compose.yml
Labels: Area: Backend, Area: Workers

Fix bugs and optimise Airflow (#1089)
  app/airflow/dags/SR_processing_dag.py
  app/airflow/dags/auto_mapping_dag.py
  app/airflow/dags/libs/SR_processing/db_services.py
  app/airflow/dags/libs/auto_mapping/core_get_existing_concepts.py
  app/airflow/dags/libs/auto_mapping/core_rules_creation.py
  app/airflow/dags/libs/auto_mapping/find_R_concepts_to_reuse.py
  app/airflow/dags/libs/auto_mapping/find_standard_V_concepts.py
  app/airflow/dags/libs/queries.py
  app/airflow/dags/libs/rules_export/core.py
  app/airflow/dags/libs/rules_export/file_services.py
  app/airflow/dags/libs/settings.py
  app/airflow/dags/libs/utils.py
  app/airflow/dags/rules_export_dag.py
  app/shared/shared/enums.py
  app/shared/shared/services/rules_export.py
  app/workers/RulesConceptsActivity/__init__.py
  app/workers/RulesConceptsActivity/reuse.py
  app/workers/shared_code/helpers.py
  docker-compose.yml
Labels: Area: Backend, Area: Workers

add workflow to deploy Airflow to Test
  .github/workflows/deploy-Airflow.non-prod.yml
Labels: Area: CI

🛠️ Repository Maintenance – Dependency Updates (#1057)
  app/api/config/settings.py
  app/api/pyproject.toml
  app/api/uv.lock
  app/next-client-app/app/(protected)/datasets/[id]/details/page.tsx
  app/next-client-app/app/(protected)/datasets/[id]/layout.tsx
  app/next-client-app/app/(protected)/datasets/[id]/page.tsx
  app/next-client-app/app/(protected)/datasets/page.tsx
  app/next-client-app/app/(protected)/projects/[id]/layout.tsx
  app/next-client-app/app/(protected)/projects/[id]/page.tsx
  app/next-client-app/app/(protected)/projects/page.tsx
  app/next-client-app/app/(protected)/scanreports/[id]/details/page.tsx
  app/next-client-app/app/(protected)/scanreports/[id]/downloads/page.tsx
  app/next-client-app/app/(protected)/scanreports/[id]/layout.tsx
  app/next-client-app/app/(protected)/scanreports/[id]/mapping_rules/page.tsx
  app/next-client-app/app/(protected)/scanreports/[id]/page.tsx
  app/next-client-app/app/(protected)/scanreports/[id]/review_rules/page.tsx
  app/next-client-app/app/(protected)/scanreports/[id]/tables/[tableId]/fields/[fieldId]/page.tsx
  app/next-client-app/app/(protected)/scanreports/[id]/tables/[tableId]/fields/[fieldId]/update/page.tsx
  app/next-client-app/app/(protected)/scanreports/[id]/tables/[tableId]/page.tsx
  app/next-client-app/app/(protected)/scanreports/[id]/tables/[tableId]/update/page.tsx
  app/next-client-app/app/(protected)/scanreports/page.tsx
  app/next-client-app/components/core/theme-provider.tsx
  app/next-client-app/next-env.d.ts
  app/next-client-app/next.config.js
  app/next-client-app/package-lock.json
  app/next-client-app/package.json
  app/next-client-app/tsconfig.json
  app/shared/pyproject.toml
  app/shared/uv.lock
  app/workers/pyproject.toml
  docker-compose.yml
Labels: dependencies, Area: Backend, Area: Frontend, Area: Workers

Set default styling for shadcdn for tooltips, nav button, Datasets and scan reports
  app/next-client-app/components/concepts/concept-tags.tsx
  app/next-client-app/components/core/Tooltips.tsx
  app/next-client-app/components/core/nav-button.tsx
  app/next-client-app/components/datasets/CreateDatasetForm.tsx
  app/next-client-app/components/scanreports/CreateScanReportForm.tsx
  app/next-client-app/components/scanreports/ExportScanReport.tsx
  app/next-client-app/components/scanreports/ScanReportDetailsForm.tsx
Labels: Area: Frontend

🛠️ Repository Maintenance – Dependency Updates (#1057)
  app/next-client-app/app/(protected)/datasets/[id]/layout.tsx
Labels: Area: Frontend

Added comments for upcoming works
  app/next-client-app/components/ui/ai-suggesions-button.tsx
Labels: Area: Frontend

Add workflow to deploy Airflow to Test instance (#1095)
  .github/workflows/deploy-Airflow.non-prod.yml
Labels: Area: CI

update the model to include trigger reuse
  app/shared/shared/mapping/migrations/0006_scanreporttable_trigger_reuse.py
  app/shared/shared/mapping/models.py
Labels: Area: Backend

implement trigger reuse var
  app/airflow/dags/libs/auto_mapping/find_R_concepts_to_reuse.py
  app/api/api/views.py
  app/next-client-app/api/scanreports.ts
  app/next-client-app/components/scanreports/ScanReportTableUpdateForm.tsx
  app/next-client-app/types/scanreport.ts
  app/shared/shared/services/worker_service.py
  app/workers/RulesConceptsActivity/__init__.py
Labels: Area: Backend, Area: Frontend, Area: Workers

test
  .github/workflows/deploy-Airflow.non-prod.yml
Labels: Area: CI

test again
  .github/workflows/deploy-Airflow.non-prod.yml
Labels: Area: CI

test again
  .github/workflows/deploy-Airflow.non-prod.yml
Labels: Area: CI

test again
  .github/workflows/deploy-Airflow.non-prod.yml
Labels: Area: CI

Add serializers
  app/api/api/serializers.py
Labels: Area: Backend

Add V3 View
  app/api/api/views.py
Labels: Area: Backend

Add V3 url
  app/api/api/urls.py
Labels: Area: Backend

Uv sync lock / build
  app/workers/uv.lock
  pyproject.toml
  uv.lock
Labels: dependencies, Area: Workers

deploy uat
  .github/workflows/deploy-Airflow.non-prod.yml
Labels: Area: CI

retry deploying scheduler only
  .github/workflows/deploy-Airflow.non-prod.yml
Labels: Area: CI

retry deploying scheduler only
  .github/workflows/deploy-Airflow.non-prod.yml
Labels: Area: CI

Add api fetching
  app/next-client-app/api/scanreports.ts
Labels: Area: Frontend

try deploy two
  .github/workflows/deploy-Airflow.non-prod.yml
Labels: Area: CI

test trying deploy two
  .github/workflows/deploy-Airflow.non-prod.yml
Labels: Area: CI

deploy two dev
  .github/workflows/deploy-Airflow.non-prod.yml
Labels: Area: CI

Added Default Shadcdn to components
  app/next-client-app/app/(protected)/datasets/[id]/layout.tsx
  app/next-client-app/app/(protected)/datasets/page.tsx
  app/next-client-app/app/(protected)/password-reset/page.tsx
  app/next-client-app/app/(protected)/projects/[id]/layout.tsx
  app/next-client-app/app/(protected)/projects/page.tsx
  app/next-client-app/app/(protected)/scanreports/[id]/layout.tsx
  app/next-client-app/app/(protected)/scanreports/[id]/mapping_rules/columns.tsx
  app/next-client-app/app/(protected)/scanreports/columns.tsx
  app/next-client-app/app/(protected)/scanreports/create/page.tsx
  app/next-client-app/app/(protected)/scanreports/page.tsx
  app/next-client-app/app/(public)/accounts/login/page.tsx
  app/next-client-app/app/error.tsx
  app/next-client-app/app/globals.css
  app/next-client-app/app/layout.tsx
  app/next-client-app/components/core/InfoItem.tsx
  app/next-client-app/components/core/avatar-list.tsx
  app/next-client-app/components/core/footer.tsx
  app/next-client-app/components/core/menubar.tsx
  app/next-client-app/components/data-table/DataTableColumnHeader.tsx
  app/next-client-app/components/magicui/bento-grid.tsx
  app/next-client-app/components/ui/alert.tsx
  app/next-client-app/components/ui/breadcrumb.tsx
  app/next-client-app/components/ui/card.tsx
  app/next-client-app/components/ui/dropdown-menu.tsx
  app/next-client-app/components/ui/popover.tsx
  app/next-client-app/components/ui/tooltip.tsx
  app/next-client-app/constants/job.ts
  app/next-client-app/constants/scanReportStatus.ts
  app/next-client-app/tailwind.config.ts
Labels: Area: Frontend

fix pipeline
  .github/workflows/deploy-Airflow.non-prod.yml
Labels: Area: CI

Fix build error
  app/next-client-app/components/form-components/FormikSelectEditors.tsx
Labels: Area: Frontend

Use default shadcdn styling
  app/next-client-app/components/form-components/FormikSelectEditors.tsx
Labels: Area: Frontend

Add types
  app/next-client-app/types/scanreport.ts
Labels: Area: Frontend

Add beta v3 pages
  app/next-client-app/app/(protected)/scanreports/[id]/tables/[tableId]/fields/[fieldId]/beta/columns.tsx
  app/next-client-app/app/(protected)/scanreports/[id]/tables/[tableId]/fields/[fieldId]/beta/page.tsx
  app/next-client-app/components/concepts/ConceptDataTableV3.tsx
  app/next-client-app/components/concepts/ConceptTagsV3.tsx
Labels: Area: Frontend

Added button outline
  app/next-client-app/app/(protected)/datasets/[id]/page.tsx
Labels: Area: Frontend

Fix Airflow depolyment pipeline (#1096)
  .github/workflows/deploy-Airflow.non-prod.yml
Labels: Area: CI

make reuse trigger configurable
  app/next-client-app/components/scanreports/ScanReportTableUpdateForm.tsx
  docker-compose.yml
Labels: Area: Frontend

formatting
  app/next-client-app/components/scanreports/ScanReportTableUpdateForm.tsx
  app/shared/shared/mapping/migrations/0006_scanreporttable_trigger_reuse.py
Labels: Area: Backend, Area: Frontend

.github/labeler.yml:

"Area: Migrations":
  - "app/shared/mapping/migrations/*"
  - "app/shared/files/migrations/*"
  - "app/shared/jobs/migrations/*"

dependencies:
  - "poetry.lock"
  - "pyproject.toml"
  - "app/workers/poetry.lock"
  - "app/workers/pyproject.toml"
  - "app/shared/poetry.lock"
  - "app/shared/pyproject.toml"
  - "app/api/poetry.lock"
  - "app/api/pyproject.toml"
  - "app/next-client-app/package-lock.json"
  - "app/next-client-app/package.json"

"Area: CI":
  - ".github/**/*"

"Area: Backend":
  - "app/api/**"
  - "app/shared/**"

"Area: Frontend":
  - "app/next-client-app/**"

"Area: Workers":
  - "app/workers/**"
