Repository Health-Informatics-UoN/carrot-mapper, changes with the labels that .github/labeler.yml gives for each.
All labels: Area: Migrations, dependencies, Area: CI, Area: Backend, Area: Frontend, Area: Workers

Fix concept tag height
  app/next-client-app/components/concepts/concept-tags.tsx
Labels: Area: Frontend

Added space between the delete concept button and the concept text
  app/next-client-app/components/concepts/concept-tags.tsx
Labels: Area: Frontend

Updated Focus rings on input fields
  app/next-client-app/app/globals.css
Labels: Area: Frontend

add link to Athena to value's name
  app/next-client-app/app/(protected)/scanreports/[id]/tables/[tableId]/fields/[fieldId]/columns.tsx
Labels: Area: Frontend

modify tooltips
  app/next-client-app/components/core/Tooltips.tsx
Labels: Area: Frontend

update text
  app/next-client-app/components/recommendations/ai-suggesions-button.tsx
Labels: Area: Frontend

make domains based on allowed domains
  app/next-client-app/constants/domains.ts
Labels: Area: Frontend

add side for tooltip
  app/next-client-app/components/recommendations/columns.tsx
Labels: Area: Frontend

Fixed alignment on chose file button
  app/next-client-app/app/globals.css
Labels: Area: Frontend

Fix switch button visibility
  app/next-client-app/app/globals.css
Labels: Area: Frontend

move unsion base url out
  docker-compose.yml
Labels: none

fix naming
  app/next-client-app/api/recommendations.ts
Labels: Area: Frontend

add ai suggestions at the field level
  app/next-client-app/app/(protected)/scanreports/[id]/tables/[tableId]/columns.tsx
Labels: Area: Frontend

centralise env vars
  app/next-client-app/app/(protected)/scanreports/[id]/tables/[tableId]/fields/[fieldId]/columns.tsx
  app/next-client-app/components/scanreports/ScanReportTableUpdateForm.tsx
  app/next-client-app/constants/index.ts
Labels: Area: Frontend

clean up
  app/next-client-app/components/recommendations/ai-suggesions-button.tsx
Labels: Area: Frontend

Made Add button easier to see in dark mode and added hover effect
  app/next-client-app/components/concepts/add-concept.tsx
Labels: Area: Frontend

Fix pagination hover in dark mode
  app/next-client-app/app/globals.css
Labels: Area: Frontend

remove tooltips provider at layout
  app/next-client-app/app/layout.tsx
Labels: Area: Frontend

update tooltips content
  app/next-client-app/app/(protected)/scanreports/[id]/tables/[tableId]/columns.tsx
  app/next-client-app/app/(protected)/scanreports/[id]/tables/[tableId]/fields/[fieldId]/columns.tsx
Labels: Area: Frontend

add max h for dialog
  app/next-client-app/components/recommendations/ai-suggestions-dialog.tsx
Labels: Area: Frontend

add env var to workflow
  .github/workflows/deploy.yml
Labels: Area: CI

Fix Action Drop down and made Delete button more visible in dark mode
  app/next-client-app/app/(protected)/scanreports/[id]/layout.tsx
  app/next-client-app/app/globals.css
Labels: Area: Frontend

fix the workflow's env var
  .github/workflows/deploy.yml
Labels: Area: CI

Delete fields / tables
  app/shared/shared/mapping/admin.py
  app/shared/shared/mapping/models.py
Labels: Area: Backend

Updated Admin.py and made migrations
  app/shared/shared/mapping/admin.py
  app/shared/shared/mapping/migrations/0009_delete_classificationsystem_delete_nlpmodel_and_more.py
Labels: Area: Backend

revert workflow change
  .github/workflows/deploy.yml
Labels: Area: CI

Fixed formatting error
  app/shared/shared/mapping/migrations/0009_delete_classificationsystem_delete_nlpmodel_and_more.py
  app/shared/shared/mapping/models.py
Labels: Area: Backend

Fix ring colour in light mode
  app/next-client-app/app/globals.css
Labels: Area: Frontend

fix contentType at field and value level
  app/next-client-app/app/(protected)/scanreports/[id]/tables/[tableId]/columns.tsx
  app/next-client-app/app/(protected)/scanreports/[id]/tables/[tableId]/fields/[fieldId]/columns.tsx
  app/next-client-app/components/recommendations/ai-suggesions-button.tsx
  app/next-client-app/components/recommendations/ai-suggestions-dialog.tsx
  app/next-client-app/components/recommendations/columns.tsx
Labels: Area: Frontend

Fix switch visibility in Dark mode
  app/next-client-app/app/globals.css
Labels: Area: Frontend

Fix input and choose field colour rings
  app/next-client-app/app/globals.css
Labels: Area: Frontend

Improve add button colour in dark mode
  app/next-client-app/components/concepts/add-concept.tsx
Labels: Area: Frontend

Improve hover effect on mode toggle in dark mode
  app/next-client-app/components/core/mode-toggle.tsx
Labels: Area: Frontend

Improve delete concept tag button
  app/next-client-app/components/concepts/concept-tags.tsx
Labels: Area: Frontend

Made rounded border more prominent
  app/next-client-app/components/data-table/index.tsx
Labels: Area: Frontend

Clean up border and switch button
  app/next-client-app/app/globals.css
  app/next-client-app/components/data-table/index.tsx
Labels: Area: Frontend

Fixed border
  app/next-client-app/components/data-table/index.tsx
Labels: Area: Frontend

remove file field
  app/shared/shared/mapping/models.py
Labels: Area: Backend

add back file field
  app/shared/shared/mapping/models.py
Labels: Area: Backend

add ability to receive details
  app/airflow/dags/libs/utils.py
Labels: none

.github/labeler.yml:

"Area: Migrations":
  - "app/shared/mapping/migrations/*"
  - "app/shared/files/migrations/*"
  - "app/shared/jobs/migrations/*"

dependencies:
  - "poetry.lock"
  - "pyproject.toml"
  - "app/workers/poetry.lock"
  - "app/workers/pyproject.toml"
  - "app/shared/poetry.lock"
  - "app/shared/pyproject.toml"
  - "app/api/poetry.lock"
  - "app/api/pyproject.toml"
  - "app/next-client-app/package-lock.json"
  - "app/next-client-app/package.json"

"Area: CI":
  - ".github/**/*"

"Area: Backend":
  - "app/api/**"
  - "app/shared/**"

"Area: Frontend":
  - "app/next-client-app/**"

"Area: Workers":
  - "app/workers/**"
