Repository Health-Informatics-UoN/carrot-mapper, changes with the labels that .github/labeler.yml gives for each.
All labels: Area: Migrations, dependencies, Area: CI, Area: Backend, Area: Frontend, Area: Workers

add find additional fields task
  app/airflow/dags/libs/reuse_concepts/find_concepts_to_reuse.py
  app/airflow/dags/libs/reuse_concepts/prep_for_rules_creation.py
  app/airflow/dags/reuse_concepts_dag.py
Labels: none

add todo
  app/airflow/dags/reuse_concepts_dag.py
Labels: none

Added - Parse Errors for Validators
  app/api/api/serializers.py
Labels: Area: Backend

Complete Scan report upload bug
  app/api/api/views.py
  app/next-client-app/app/(protected)/scanreports/[id]/page.tsx
  app/next-client-app/components/data-table/index.tsx
  app/next-client-app/components/scanreports/ScanReportsTableClient.tsx
Labels: Area: Backend, Area: Frontend

Fix code formatting
  app/api/api/views.py
Labels: Area: Backend

Fix code formatting
  app/api/api/views.py
Labels: Area: Backend

Remove commented code
  app/next-client-app/app/(protected)/scanreports/[id]/layout.tsx
Labels: Area: Frontend

add delete and create mapping rules for R concepts
  app/airflow/dags/libs/reuse_concepts/rules_creation.py
  app/airflow/dags/reuse_concepts_dag.py
Labels: none

refactor and use delete mapping rules
  app/airflow/dags/create_concepts_from_vocab_dag.py
  app/airflow/dags/libs/core_rules_creation.py
  app/airflow/dags/libs/reuse_concepts/rules_creation.py
  app/airflow/dags/libs/utils.py
Labels: none

Fix Scan report view during upload
  app/next-client-app/app/(protected)/scanreports/[id]/layout.tsx
Labels: Area: Frontend

Added new workers RCA func for Airflow (#1017)
  app/api/api/serializers.py
  app/shared/shared/services/field_vocab_mappings.py
  app/shared/shared/services/models.py
  app/workers/shared_code/models.py
Labels: Area: Backend, Area: Workers

Revert Permission mixin
  app/api/api/mixins.py
Labels: Area: Backend

fix for many data type in the same table
  app/airflow/dags/libs/core_prep_rules_creation.py
Labels: none

add refreshing reused concepts
  app/airflow/dags/libs/reuse_concepts/find_concepts_to_reuse.py
  app/airflow/dags/libs/reuse_concepts/rules_creation.py
  app/airflow/dags/reuse_concepts_dag.py
Labels: none

Completed Swagger Intergration
  app/api/api/mixins.py
  app/api/config/settings.py
Labels: Area: Backend

Complete Fix Scan report view during upload
  app/next-client-app/app/(protected)/scanreports/[id]/layout.tsx
  app/next-client-app/types/scanreport.ts
Labels: Area: Frontend

Added missing dependency
  app/api/pyproject.toml
Labels: dependencies, Area: Backend

refactor V concepts DAG
  app/airflow/dags/create_concepts_from_vocab_dag.py
  app/airflow/dags/libs/vocab_concepts/find_standard_concepts.py
  app/airflow/dags/libs/vocab_concepts/prep_for_rules_creation.py
  app/airflow/dags/libs/vocab_concepts/rules_creation.py
Labels: none

add update status and reform the functions
  app/airflow/dags/libs/reuse_concepts/find_concepts_to_reuse.py
  app/airflow/dags/libs/reuse_concepts/prep_for_rules_creation.py
  app/airflow/dags/libs/reuse_concepts/rules_creation.py
  app/airflow/dags/libs/utils.py
  app/airflow/dags/libs/vocab_concepts/find_standard_concepts.py
  app/airflow/dags/libs/vocab_concepts/prep_for_rules_creation.py
  app/airflow/dags/libs/vocab_concepts/rules_creation.py
Labels: none

add todo
  app/airflow/dags/reuse_concepts_dag.py
Labels: none

Fix review comments
  app/api/poetry.lock
  pyproject.toml
  uv.lock
Labels: dependencies, Area: Backend

Add info that APIs are read only
  app/api/config/settings.py
Labels: Area: Backend

Fix Scan report view during upload (#1027)
  app/next-client-app/app/(protected)/scanreports/[id]/layout.tsx
  app/next-client-app/types/scanreport.ts
Labels: Area: Frontend

add more docstring
  app/airflow/dags/libs/reuse_concepts/find_concepts_to_reuse.py
  app/airflow/dags/reuse_concepts_dag.py
Labels: none

improve docstring
  app/airflow/dags/libs/reuse_concepts/find_concepts_to_reuse.py
Labels: none

add one note
  app/airflow/dags/reuse_concepts_dag.py
Labels: none

initial add CM and AF connection
  app/api/api/views.py
  app/shared/shared/services/field_vocab_mappings.py
  app/shared/shared/services/function_service.py
  docker-compose.yml
Labels: Area: Backend

add todo
  app/shared/shared/services/function_service.py
Labels: Area: Backend

add config for Airflow
  docker-compose.yml
Labels: none

major DAGs restructure
  app/airflow/dags/auto_mapping_dag.py
  app/airflow/dags/libs/core_get_existing_concepts.py
  app/airflow/dags/libs/core_prep_rules_creation.py
  app/airflow/dags/libs/core_rules_creation.py
  app/airflow/dags/libs/reuse_concepts/find_concepts_to_reuse.py
  app/airflow/dags/libs/utils.py
  app/airflow/dags/libs/vocab_concepts/find_standard_concepts.py
Labels: none

major cleaning up
  app/airflow/dags/auto_mapping_dag.py
  app/airflow/dags/create_concepts_from_vocab_dag.py
  app/airflow/dags/libs/find_concepts_to_reuse.py
  app/airflow/dags/libs/find_standard_concepts.py
  app/airflow/dags/libs/reuse_concepts/prep_for_rules_creation.py
  app/airflow/dags/libs/reuse_concepts/rules_creation.py
  app/airflow/dags/libs/vocab_concepts/prep_for_rules_creation.py
  app/airflow/dags/libs/vocab_concepts/rules_creation.py
  app/airflow/dags/reuse_concepts_dag.py
Labels: none

minor cleaning up and add docstring
  app/airflow/dags/auto_mapping_dag.py
  app/airflow/dags/libs/utils.py
Labels: none

update job status details and stage
  app/airflow/dags/libs/core_get_existing_concepts.py
  app/airflow/dags/libs/core_prep_rules_creation.py
  app/airflow/dags/libs/core_rules_creation.py
  app/airflow/dags/libs/find_concepts_to_reuse.py
  app/airflow/dags/libs/find_standard_concepts.py
Labels: none

make naming even clearer
  app/airflow/dags/auto_mapping_dag.py
  app/airflow/dags/libs/find_R_concepts_to_reuse.py
  app/airflow/dags/libs/find_standard_V_concepts.py
Labels: none

Fixed review comments
  app/api/pyproject.toml
  app/api/uv.lock
  pyproject.toml
  uv.lock
Labels: dependencies, Area: Backend

add todo
  app/airflow/dags/auto_mapping_dag.py
Labels: none

move the Drop temp tables to the end of the children workflow
  app/airflow/dags/libs/find_R_concepts_to_reuse.py
  app/airflow/dags/libs/find_standard_V_concepts.py
Labels: none

fix #1031
  app/api/config/settings.py
Labels: Area: Backend

Fix review comments
  app/api/api/views.py
  pyproject.toml
  uv.lock
Labels: dependencies, Area: Backend

solve one bug in maching value finding
  app/airflow/dags/libs/find_R_concepts_to_reuse.py
Labels: none

.github/labeler.yml:

"Area: Migrations":
  - "app/shared/mapping/migrations/*"
  - "app/shared/files/migrations/*"
  - "app/shared/jobs/migrations/*"

dependencies:
  - "poetry.lock"
  - "pyproject.toml"
  - "app/workers/poetry.lock"
  - "app/workers/pyproject.toml"
  - "app/shared/poetry.lock"
  - "app/shared/pyproject.toml"
  - "app/api/poetry.lock"
  - "app/api/pyproject.toml"
  - "app/next-client-app/package-lock.json"
  - "app/next-client-app/package.json"

"Area: CI":
  - ".github/**/*"

"Area: Backend":
  - "app/api/**"
  - "app/shared/**"

"Area: Frontend":
  - "app/next-client-app/**"

"Area: Workers":
  - "app/workers/**"
