Repository Health-Informatics-UoN/carrot-mapper, changes with the labels that .github/labeler.yml gives for each.
All labels: Area: Migrations, dependencies, Area: CI, Area: Backend, Area: Frontend, Area: Workers

Refactor concept addition to use addConceptV3 and update scanReportId in relevant components
  app/api/api/views.py
  app/next-client-app/api/concepts.ts
  app/next-client-app/app/(protected)/scanreports/[id]/tables/[tableId]/fields/[fieldId]/beta/columns.tsx
  app/next-client-app/components/concepts/AddConceptV3.tsx
Labels: Area: Backend, Area: Frontend

Added hover effect on drop downs
  app/next-client-app/app/globals.css
  app/next-client-app/components/ui/dropdown-menu.tsx
Labels: Area: Frontend

Fix Environment variables config for Nextjs and set drop R concepts (#1103)
  .github/workflows/deploy.production.yml
  .github/workflows/deploy.yml
  app/airflow/dags/libs/auto_mapping/find_R_concepts_to_reuse.py
  app/next-client-app/app/layout.tsx
  app/next-client-app/components/scanreports/ScanReportTableUpdateForm.tsx
  app/next-client-app/next.config.js
  app/next-client-app/package-lock.json
  app/next-client-app/package.json
  docker-compose.yml
Labels: dependencies, Area: CI, Area: Frontend

optimise docker files
  app/airflow/Dockerfile.scheduler
  app/airflow/Dockerfile.webserver
Labels: none

optimise docker compose for airflow
  docker-compose.yml
Labels: none

add an unified dockerfile for airflow
  app/airflow/Dockerfile
Labels: none

add requirements file
  app/airflow/requirements.txt
Labels: none

test unified dockerfile
  .github/workflows/deploy-Airflow.non-prod.yml
Labels: Area: CI

test speed
  .github/workflows/deploy-Airflow.non-prod.yml
Labels: Area: CI

test speed
  app/airflow/Dockerfile
Labels: none

test speed again
  app/airflow/Dockerfile
Labels: none

add note
  app/airflow/Dockerfile
Labels: none

clean up
  app/airflow/Dockerfile.scheduler
  app/airflow/Dockerfile.webserver
  app/airflow/requirements.txt
Labels: none

add migration to create indexes in the DB
  app/shared/shared/mapping/migrations/0007_create_indexes.py
Labels: Area: Backend

Optimise Dockerfile of Airflow (#1105)
  .github/workflows/deploy-Airflow.non-prod.yml
  app/airflow/Dockerfile
  app/airflow/Dockerfile.webserver
  docker-compose.yml
Labels: Area: CI

fix test setup
  app/api/test/conftest.py
Labels: Area: Backend

move index creation to models
  app/shared/shared/mapping/migrations/0007_alter_dataset_hidden_alter_mappingstatus_value_and_more.py
  app/shared/shared/mapping/migrations/0007_create_indexes.py
  app/shared/shared/mapping/models.py
Labels: Area: Backend

Updated Job Status Icon colours
  app/next-client-app/app/(protected)/scanreports/[id]/tables/[tableId]/update/page.tsx
  app/next-client-app/components/scanreports/ScanReportFieldEditForm.tsx
  app/next-client-app/constants/job.ts
Labels: Area: Frontend

add Airflow to prod workflow
  .github/workflows/deploy.production.yml
Labels: Area: CI

merge non-prod Airflow wf and clean up
  .github/workflows/deploy-Airflow.non-prod.yml
  .github/workflows/deploy.yml
Labels: Area: CI

add back webserver secret
  docker-compose.yml
Labels: none

add supported data type and make case sensitive
  app/airflow/dags/libs/queries.py
Labels: none

add supported data type M concepts
  app/api/api/views.py
  app/shared/shared/services/rules.py
Labels: Area: Backend

Fixed Concepts badge bg colour
  app/next-client-app/app/globals.css
  app/next-client-app/components/concepts/concept-tags.tsx
  app/next-client-app/components/ui/badge.tsx
Labels: Area: Frontend

Support other datatypes of INT (#1110)
  app/airflow/dags/libs/queries.py
  app/api/api/views.py
  app/shared/shared/services/rules.py
  docker-compose.yml
Labels: Area: Backend

Add workflow to build and deploy Airflow to Production (#1108)
  .github/workflows/deploy-Airflow.non-prod.yml
  .github/workflows/deploy.production.yml
  .github/workflows/deploy.yml
Labels: Area: CI

Added border to input and colour to buttons
  app/next-client-app/app/globals.css
  app/next-client-app/components/ui/button.tsx
  app/next-client-app/components/ui/input.tsx
Labels: Area: Frontend

Added 3 original colours to concepts
  app/next-client-app/app/globals.css
  app/next-client-app/components/concepts/concept-tags.tsx
  app/next-client-app/components/ui/input.tsx
  app/next-client-app/tailwind.config.ts
Labels: Area: Frontend

Add migration to create indexes in the DB on startup (#1106)
  app/api/test/conftest.py
  app/shared/shared/mapping/migrations/0007_alter_dataset_hidden_alter_mappingstatus_value_and_more.py
  app/shared/shared/mapping/models.py
Labels: Area: Backend

fix wb dimension
  app/airflow/dags/libs/SR_processing/helpers.py
Labels: none

fix wb dimension (#1111)
  app/airflow/dags/libs/SR_processing/helpers.py
Labels: none

add specimen table support
  app/shared/shared/services/rules.py
  app/workers/shared_code/helpers.py
  docker-compose.yml
Labels: Area: Backend, Area: Workers

remove unused columns process
  app/airflow/dags/libs/SR_processing/db_services.py
  app/airflow/dags/libs/queries.py
  app/shared/shared/mapping/migrations/0008_alter_scanreportfield_fraction_empty_and_more.py
  app/shared/shared/mapping/models.py
  app/workers/UploadQueue/__init__.py
Labels: Area: Backend, Area: Workers

formatting
  app/shared/shared/mapping/migrations/0008_alter_scanreportfield_fraction_empty_and_more.py
Labels: Area: Backend

remove long running index creation
  app/shared/shared/mapping/migrations/0007_alter_dataset_hidden_alter_mappingstatus_value_and_more.py
Labels: Area: Backend

Remove time-consuming index creation in migration (#1115)
  app/shared/shared/mapping/migrations/0007_alter_dataset_hidden_alter_mappingstatus_value_and_more.py
Labels: Area: Backend

remove unused fields instead
  app/shared/shared/mapping/migrations/0008_alter_scanreportfield_fraction_empty_and_more.py
  app/shared/shared/mapping/migrations/0008_remove_scanreportfield_fraction_empty_and_more.py
  app/shared/shared/mapping/models.py
Labels: Area: Backend

formatting
  app/shared/shared/mapping/migrations/0008_remove_scanreportfield_fraction_empty_and_more.py
Labels: Area: Backend

make DD code search case insensitive
  app/airflow/dags/libs/auto_mapping/find_standard_V_concepts.py
  app/workers/RulesConceptsActivity/__init__.py
  docker-compose.yml
Labels: Area: Workers

Make `code` section in dictionary case insensitive (#1116)
  app/airflow/dags/libs/auto_mapping/find_standard_V_concepts.py
  app/workers/RulesConceptsActivity/__init__.py
  docker-compose.yml
Labels: Area: Workers

.github/labeler.yml:

"Area: Migrations":
  - "app/shared/mapping/migrations/*"
  - "app/shared/files/migrations/*"
  - "app/shared/jobs/migrations/*"

dependencies:
  - "poetry.lock"
  - "pyproject.toml"
  - "app/workers/poetry.lock"
  - "app/workers/pyproject.toml"
  - "app/shared/poetry.lock"
  - "app/shared/pyproject.toml"
  - "app/api/poetry.lock"
  - "app/api/pyproject.toml"
  - "app/next-client-app/package-lock.json"
  - "app/next-client-app/package.json"

"Area: CI":
  - ".github/**/*"

"Area: Backend":
  - "app/api/**"
  - "app/shared/**"

"Area: Frontend":
  - "app/next-client-app/**"

"Area: Workers":
  - "app/workers/**"
