Repository Health-Informatics-UoN/carrot-mapper, changes with the labels that .github/labeler.yml gives for each.
All labels: Area: Migrations, dependencies, Area: CI, Area: Backend, Area: Frontend, Area: Workers

.github/labeler.yml:

"Area: Migrations":
  - "app/shared/mapping/migrations/*"
  - "app/shared/files/migrations/*"
  - "app/shared/jobs/migrations/*"

dependencies:
  - "poetry.lock"
  - "pyproject.toml"
  - "app/workers/poetry.lock"
  - "app/workers/pyproject.toml"
  - "app/shared/poetry.lock"
  - "app/shared/pyproject.toml"
  - "app/api/poetry.lock"
  - "app/api/pyproject.toml"
  - "app/next-client-app/package-lock.json"
  - "app/next-client-app/package.json"

"Area: CI":
  - ".github/**/*"

"Area: Backend":
  - "app/api/**"
  - "app/shared/**"

"Area: Frontend":
  - "app/next-client-app/**"

"Area: Workers":
  - "app/workers/**"

Updated Comments
  app/workers/RulesConceptsActivity/__init__.py
Labels: Area: Workers

initial add creating fields
  app/airflow/dags/SR_processing_dag.py
  app/airflow/dags/libs/SR_processing/core.py
  app/airflow/dags/libs/SR_processing/utils.py
Labels: none

fix creating valies
  app/airflow/dags/libs/SR_processing/utils.py
Labels: none

Bump Client side dependencies, NextJS-v15 and more
  app/next-client-app/next-env.d.ts
  app/next-client-app/package-lock.json
  app/next-client-app/package.json
  app/next-client-app/tsconfig.json
Labels: dependencies, Area: Frontend

Upgraded - Concept Mapping Logic (#1042)
  app/workers/RulesConceptsActivity/__init__.py
Labels: Area: Workers

Refactor - Shared Package Configs
  app/api/pyproject.toml
  app/shared/pyproject.toml
  app/workers/pyproject.toml
Labels: dependencies, Area: Backend, Area: Workers

Updated Configs - UV Compatible
  .github/workflows/deploy.yml
Labels: Area: CI

Added instructions for installing without venv
  .github/workflows/deploy.yml
Labels: Area: CI

Including all modules in shared app - Trial 1
  .github/workflows/deploy.yml
Labels: Area: CI

Including all modules in shared app - Trial 2
  .github/workflows/deploy.yml
Labels: Area: CI

Installing shared
  .github/workflows/deploy.yml
Labels: Area: CI

Revoke Changes & Add Shared Module in toml file
  .github/workflows/deploy.yml
  app/api/pyproject.toml
  app/shared/pyproject.toml
  app/workers/pyproject.toml
Labels: dependencies, Area: CI, Area: Backend, Area: Workers

first commit - test
  app/shared/pyproject.toml
Labels: dependencies, Area: Backend

testing - 1
  .github/workflows/deploy.yml
  app/api/pyproject.toml
  app/shared/pyproject.toml
  app/workers/pyproject.toml
Labels: dependencies, Area: CI, Area: Backend, Area: Workers

transform the logic part 1
  app/airflow/dags/SR_processing_dag.py
  app/airflow/dags/libs/SR_processing/core.py
  app/airflow/dags/libs/SR_processing/utils.py
Labels: none

major refactor
  app/airflow/dags/SR_processing_dag.py
  app/airflow/dags/libs/SR_processing/core.py
  app/airflow/dags/libs/SR_processing/utils.py
  app/airflow/dags/libs/utils.py
Labels: none

final step done
  app/airflow/dags/libs/SR_processing/core.py
  app/airflow/dags/libs/SR_processing/utils.py
Labels: none

fixing bugs
  .github/workflows/deploy.yml
  app/workers/pyproject.toml
Labels: dependencies, Area: CI, Area: Workers

removing redundant code
  .github/workflows/deploy.yml
Labels: Area: CI

bug ficxing - 2
  .github/workflows/deploy.yml
Labels: Area: CI

included shared dependency
  app/workers/pyproject.toml
Labels: dependencies, Area: Workers

Refactor - Shared Package Values
  app/api/pyproject.toml
  app/shared/pyproject.toml
  app/workers/pyproject.toml
Labels: dependencies, Area: Backend, Area: Workers

Updated Dev Deployment Yaml Configs
  .github/workflows/deploy.yml
Labels: Area: CI

refactor part 1
  app/airflow/dags/libs/SR_processing/core.py
  app/airflow/dags/libs/SR_processing/utils.py
  app/airflow/dags/libs/queries.py
Labels: none

Adding cryptography Older Version
  app/shared/pyproject.toml
  app/workers/pyproject.toml
Labels: dependencies, Area: Backend, Area: Workers

Adding Dubbing Scripts - Deploy Yaml
  .github/workflows/deploy.yml
Labels: Area: CI

Revoke debugging GLIBC scripts
  .github/workflows/deploy.yml
Labels: Area: CI

Revoked Debugging Scripts
  .github/workflows/deploy.yml
Labels: Area: CI

refactor part 2
  app/airflow/dags/libs/SR_processing/core.py
  app/airflow/dags/libs/SR_processing/helpers.py
  app/airflow/dags/libs/SR_processing/utils.py
Labels: none

refactor part 3
  app/airflow/dags/SR_processing_dag.py
  app/airflow/dags/libs/SR_processing/core.py
  app/airflow/dags/libs/SR_processing/db_services.py
  app/airflow/dags/libs/SR_processing/helpers.py
  app/airflow/dags/libs/SR_processing/utils.py
  app/airflow/dags/libs/queries.py
Labels: none

fix logic DD creation
  app/airflow/dags/libs/SR_processing/core.py
  app/airflow/dags/libs/SR_processing/db_services.py
  app/airflow/dags/libs/queries.py
Labels: none

UV Compatible - Production Yaml
  .github/workflows/deploy.production.yml
Labels: Area: CI

add cleaning up step
  app/airflow/dags/libs/SR_processing/core.py
  app/airflow/dags/libs/SR_processing/db_services.py
  app/airflow/dags/libs/queries.py
Labels: none

clean up
  app/airflow/dags/SR_processing_dag.py
Labels: none

Added Comments
  app/shared/pyproject.toml
  app/workers/pyproject.toml
Labels: dependencies, Area: Backend, Area: Workers

Dev Deployment uv compatible configurations (#1051)
  .github/workflows/deploy.yml
  app/api/pyproject.toml
  app/shared/pyproject.toml
  app/workers/pyproject.toml
Labels: dependencies, Area: CI, Area: Backend, Area: Workers

UV Compatible - Production Yaml (#1053)
  .github/workflows/deploy.production.yml
Labels: Area: CI

add update job for upload SR and DD
  app/airflow/dags/libs/SR_processing/core.py
  app/airflow/dags/libs/SR_processing/db_services.py
  app/airflow/dags/libs/enums.py
  app/airflow/dags/libs/utils.py
Labels: none

use strEnum
  app/airflow/dags/libs/enums.py
Labels: none

move connect storage function to utils
  app/airflow/dags/SR_processing_dag.py
  app/airflow/dags/libs/SR_processing/core.py
  app/airflow/dags/libs/SR_processing/db_services.py
  app/airflow/dags/libs/SR_processing/helpers.py
  app/airflow/dags/libs/utils.py
Labels: none
