Repository Health-Informatics-UoN/carrot-mapper, changes with the labels that .github/labeler.yml gives for each.
All labels: Area: Migrations, dependencies, Area: CI, Area: Backend, Area: Frontend, Area: Workers

Remove the process of unused columns (#1113)
  app/airflow/dags/libs/SR_processing/db_services.py
  app/airflow/dags/libs/queries.py
  app/shared/shared/mapping/migrations/0008_remove_scanreportfield_fraction_empty_and_more.py
  app/shared/shared/mapping/models.py
  app/workers/UploadQueue/__init__.py
Labels: Area: Backend, Area: Workers

Add specimen table support (for concepts manually added) (#1114)
  app/shared/shared/services/rules.py
  app/workers/shared_code/helpers.py
  docker-compose.yml
Labels: Area: Backend, Area: Workers

Added primary colour to input border and sidebar buttons
  app/next-client-app/components/core/sidebar-button.tsx
  app/next-client-app/components/data-table/DataTableColumnHeader.tsx
  app/next-client-app/components/ui/input.tsx
Labels: Area: Frontend

Added default shadcdn button and input
  app/next-client-app/components/ui/button.tsx
  app/next-client-app/components/ui/input.tsx
Labels: Area: Frontend

Made mapping rules column more readable
  app/next-client-app/app/(protected)/scanreports/[id]/mapping_rules/columns.tsx
  app/next-client-app/components/data-table/DataTableColumnHeader.tsx
Labels: Area: Frontend

Fix Ci Build
  app/next-client-app/app/(protected)/projects/columns.tsx
  app/next-client-app/components/core/sidebar-button.tsx
Labels: Area: Frontend

Fix CI Build failure
  app/next-client-app/components/core/sidebar-button.tsx
Labels: Area: Frontend

Testing Commit
  app/next-client-app/app/(protected)/scanreports/[id]/tables/[tableId]/fields/[fieldId]/columns.tsx
  app/next-client-app/app/api/test-recommendations/route.ts
  app/next-client-app/components/ui/ai-suggesions-button.tsx
  app/next-client-app/components/ui/ai-suggestions-dialog.tsx
  app/next-client-app/constants/index.ts
  app/next-client-app/lib/api/recommendations.ts
  app/next-client-app/lib/api/request.ts
Labels: Area: Frontend

Test Commit docker
  docker-compose.yml
Labels: none

Made buttons and text default shadcdn
  app/next-client-app/app/(protected)/datasets/columns.tsx
  app/next-client-app/app/(protected)/scanreports/[id]/columns.tsx
  app/next-client-app/app/(protected)/scanreports/[id]/mapping_rules/columns.tsx
  app/next-client-app/app/(protected)/scanreports/[id]/tables/[tableId]/columns.tsx
  app/next-client-app/app/(protected)/scanreports/columns.tsx
  app/next-client-app/components/scanreports/DeleteDialog.tsx
  app/next-client-app/components/scanreports/EditButton.tsx
  app/next-client-app/components/ui/button.tsx
Labels: Area: Frontend

Update Formik forms, inputs and global css
  app/next-client-app/app/globals.css
  app/next-client-app/components/concepts/concept-tags.tsx
  app/next-client-app/components/data-table/DataTablePagination.tsx
  app/next-client-app/components/scanreports/ScanReportDetailsForm.tsx
  app/next-client-app/components/ui/input.tsx
Labels: Area: Frontend

Customized switch button
  app/next-client-app/components/ui/switch.tsx
Labels: Area: Frontend

modify constants and vars
  app/next-client-app/app/(protected)/scanreports/[id]/tables/[tableId]/fields/[fieldId]/columns.tsx
  app/next-client-app/constants/index.ts
  docker-compose.yml
Labels: Area: Frontend

fix and move API
  app/next-client-app/api/recommendations.ts
  app/next-client-app/lib/api/recommendations.ts
Labels: Area: Frontend

fix and move recommendation components
  app/next-client-app/components/recommendations/ai-suggesions-button.tsx
  app/next-client-app/components/recommendations/ai-suggestions-dialog.tsx
  app/next-client-app/components/ui/ai-suggestions-dialog.tsx
Labels: Area: Frontend

add columns for table inside dialog
  app/next-client-app/components/recommendations/columns.tsx
Labels: Area: Frontend

add type for AI recommendations
  app/next-client-app/types/recommendation.ts
Labels: Area: Frontend

clean up
  app/next-client-app/app/api/test-recommendations/route.ts
Labels: Area: Frontend

modify request
  app/next-client-app/lib/api/request.ts
Labels: Area: Frontend

clean up magic ui
  app/next-client-app/components/magicui/animated-beam.tsx
  app/next-client-app/components/magicui/animated-grid-pattern.tsx
  app/next-client-app/components/magicui/bento-grid.tsx
  app/next-client-app/components/magicui/box-reveal.tsx
Labels: Area: Frontend

Revert UIs to Default shadcdn
  app/next-client-app/app/(protected)/scanreports/create/page.tsx
  app/next-client-app/app/globals.css
  app/next-client-app/components/ui/breadcrumb.tsx
  app/next-client-app/components/ui/button.tsx
  app/next-client-app/components/ui/checkbox.tsx
  app/next-client-app/components/ui/dropdown-menu.tsx
Labels: Area: Frontend

Made file input text visible
  app/next-client-app/app/(protected)/scanreports/columns.tsx
  app/next-client-app/app/globals.css
Labels: Area: Frontend

add apply concept
  app/next-client-app/app/(protected)/scanreports/[id]/tables/[tableId]/fields/[fieldId]/columns.tsx
  app/next-client-app/components/recommendations/ai-suggesions-button.tsx
  app/next-client-app/components/recommendations/ai-suggestions-dialog.tsx
  app/next-client-app/components/recommendations/columns.tsx
Labels: Area: Frontend

Fix text colour in dark mode for delete button
  app/next-client-app/app/(protected)/scanreports/columns.tsx
Labels: Area: Frontend

Updated switch to default shadcdn
  app/next-client-app/components/ui/switch.tsx
Labels: Area: Frontend

add variable
  docker-compose.yml
Labels: none

update info
  app/next-client-app/components/recommendations/ai-suggestions-dialog.tsx
Labels: Area: Frontend

update endpoint to use vocab
  app/next-client-app/api/recommendations.ts
Labels: Area: Frontend

improve tooltip
  app/next-client-app/components/core/Tooltips.tsx
Labels: Area: Frontend

enable choosing vocab for searching
  app/next-client-app/components/recommendations/ai-suggesions-button.tsx
Labels: Area: Frontend

improve details line
  app/next-client-app/components/recommendations/ai-suggestions-dialog.tsx
Labels: Area: Frontend

add accuracy and improve
  app/next-client-app/components/recommendations/columns.tsx
Labels: Area: Frontend

add vocab constants
  app/next-client-app/constants/vocabularies.ts
Labels: Area: Frontend

improve component structure
  app/next-client-app/components/recommendations/ai-suggestions-dialog.tsx
Labels: Area: Frontend

swap vocab for domain
  app/next-client-app/api/recommendations.ts
  app/next-client-app/components/recommendations/ai-suggesions-button.tsx
  app/next-client-app/components/recommendations/ai-suggestions-dialog.tsx
  app/next-client-app/components/recommendations/columns.tsx
  app/next-client-app/constants/domains.ts
  app/next-client-app/constants/vocabularies.ts
Labels: Area: Frontend

Update model created_by
  app/shared/shared/mapping/models.py
Labels: Area: Backend

Add migration
  app/shared/shared/mapping/migrations/0009_scanreportconcept_created_by.py
Labels: Area: Backend

Override perform_create
  app/api/api/views.py
Labels: Area: Backend

Add codeowners
  .github/CODEOWNERS
Labels: Area: CI

Add codeowners (#1125)
  .github/CODEOWNERS
Labels: Area: CI

.github/labeler.yml:

"Area: Migrations":
  - "app/shared/mapping/migrations/*"
  - "app/shared/files/migrations/*"
  - "app/shared/jobs/migrations/*"

dependencies:
  - "poetry.lock"
  - "pyproject.toml"
  - "app/workers/poetry.lock"
  - "app/workers/pyproject.toml"
  - "app/shared/poetry.lock"
  - "app/shared/pyproject.toml"
  - "app/api/poetry.lock"
  - "app/api/pyproject.toml"
  - "app/next-client-app/package-lock.json"
  - "app/next-client-app/package.json"

"Area: CI":
  - ".github/**/*"

"Area: Backend":
  - "app/api/**"
  - "app/shared/**"

"Area: Frontend":
  - "app/next-client-app/**"

"Area: Workers":
  - "app/workers/**"
