Repository Health-Informatics-UoN/carrot-mapper, changes with the labels that .github/labeler.yml gives for each.
All labels: Area: Migrations, dependencies, Area: CI, Area: Backend, Area: Frontend, Area: Workers

initial add SR processing DAG
  app/airflow/dags/SR_processing_dag.py
  docker-compose.yml
Labels: none

Black formatting
  app/api/api/views.py
  app/shared/shared/users/serializers.py
Labels: Area: Backend

move auto-mapping to one folder
  app/airflow/dags/auto_mapping_dag.py
  app/airflow/dags/libs/auto_mapping/core_get_existing_concepts.py
  app/airflow/dags/libs/auto_mapping/core_prep_rules_creation.py
  app/airflow/dags/libs/auto_mapping/core_rules_creation.py
  app/airflow/dags/libs/auto_mapping/find_R_concepts_to_reuse.py
  app/airflow/dags/libs/auto_mapping/find_standard_V_concepts.py
Labels: none

Black formatting
  app/api/api/serializers.py
  app/api/api/views.py
  app/api/datasets/views.py
Labels: Area: Backend

Black formatting
  app/api/api/views.py
  app/api/authn/views.py
Labels: Area: Backend

Black formatting
  app/api/api/views.py
  app/api/authn/views.py
Labels: Area: Backend

Black formatting
  app/api/api/views.py
  app/api/authn/views.py
Labels: Area: Backend

fix #1039
  app/airflow/dags/libs/find_standard_V_concepts.py
  docker-compose.yml
Labels: none

improve fix #1039
  app/airflow/dags/libs/find_standard_V_concepts.py
Labels: none

Enhancement: Add Swagger for API Documentation (#1028)
  app/api/api/mixins.py
  app/api/api/serializers.py
  app/api/api/urls.py
  app/api/api/views.py
  app/api/authn/views.py
  app/api/config/settings.py
  app/api/datasets/views.py
  app/api/projects/serializers.py
  app/api/projects/views.py
  app/api/pyproject.toml
  app/api/uv.lock
  app/shared/shared/files/serializers.py
  app/shared/shared/files/views.py
  app/shared/shared/jobs/views.py
  app/shared/shared/users/__init__.py
  app/shared/shared/users/serializers.py
Labels: dependencies, Area: Backend

Optimize Docker Builds: Multi-stage & Layer Reduction (#1038)
  app/api/.dockerignore
  app/api/Dockerfile
  app/api/pyproject.toml
  app/workers/.dockerignore
  app/workers/Dockerfile
Labels: dependencies, Area: Backend, Area: Workers

inital add
  app/airflow/dags/libs/SR_processing/core.py
  app/airflow/pyproject.toml
  app/airflow/uv.lock
  docker-compose.yml
Labels: none

add package
  app/airflow/Dockerfile.scheduler
  app/airflow/Dockerfile.webserver
  app/airflow/pyproject.toml
  app/airflow/uv.lock
Labels: none

add first process function - test
  app/airflow/dags/SR_processing_dag.py
Labels: none

add wasb connection
  app/airflow/dags/libs/SR_processing/core.py
  docker-compose.yml
Labels: none

improve a bit
  app/airflow/dags/libs/SR_processing/core.py
Labels: none

Added Validator - Allowed Domains
  app/workers/RulesConceptsActivity/__init__.py
Labels: Area: Workers

Exdented Upload Size
  docker-compose.yml
Labels: none

update name of validate_params_auto_mapping
  app/airflow/dags/auto_mapping_dag.py
  app/airflow/dags/libs/auto_mapping/core_get_existing_concepts.py
  app/airflow/dags/libs/auto_mapping/core_prep_rules_creation.py
  app/airflow/dags/libs/auto_mapping/core_rules_creation.py
  app/airflow/dags/libs/auto_mapping/find_R_concepts_to_reuse.py
  app/airflow/dags/libs/auto_mapping/find_standard_V_concepts.py
Labels: none

update name of validate_params_SR_processing
  app/airflow/dags/SR_processing_dag.py
  app/airflow/dags/libs/SR_processing/core.py
Labels: none

Fixed Spelling
  app/workers/RulesConceptsActivity/__init__.py
Labels: Area: Workers

Revoked Testing scripts
  docker-compose.yml
Labels: none

Adding validator for Allowed Domains in RCA (#1040)
  app/workers/RulesConceptsActivity/__init__.py
Labels: Area: Workers

first storage connection management
  app/airflow/dags/SR_processing_dag.py
  app/airflow/dags/libs/SR_processing/core.py
  docker-compose.yml
Labels: none

update var name
  app/api/api/views.py
Labels: Area: Backend

add raise context and do validation for function type in init
  app/shared/shared/services/function_service.py
Labels: Area: Backend

improve the pattern
  app/api/api/views.py
  app/api/config/settings.py
  app/shared/shared/files/views.py
  app/shared/shared/services/function_service.py
  app/shared/shared/services/worker_service.py
  docker-compose.yml
Labels: Area: Backend

fix matching table name for reusing value
  app/airflow/dags/libs/queries.py
Labels: none

improve typing
  app/airflow/dags/libs/utils.py
Labels: none

improve error message
  app/shared/shared/services/worker_service.py
Labels: Area: Backend

using enum strings for worker service type
  app/shared/shared/services/worker_service.py
Labels: Area: Backend

improve enums and naming
  app/api/api/views.py
  app/api/config/settings.py
  app/shared/shared/enums.py
  app/shared/shared/files/views.py
  app/shared/shared/services/worker_service.py
Labels: Area: Backend

unify STORAGE_TYPE and refactor storage connections
  app/airflow/dags/SR_processing_dag.py
  app/airflow/dags/libs/SR_processing/core.py
  app/airflow/dags/libs/enums.py
  app/airflow/dags/libs/utils.py
  docker-compose.yml
Labels: none

Add Carrot-Airflow connection (#1037)
  app/airflow/dags/auto_mapping_dag.py
  app/airflow/dags/libs/find_R_concepts_to_reuse.py
  app/airflow/dags/libs/find_standard_V_concepts.py
  app/airflow/dags/libs/queries.py
  app/airflow/dags/libs/utils.py
  app/api/api/views.py
  app/api/config/settings.py
  app/shared/shared/enums.py
  app/shared/shared/files/views.py
  app/shared/shared/services/field_vocab_mappings.py
  app/shared/shared/services/worker_service.py
  docker-compose.yml
Labels: Area: Backend

clean up after master merge
  app/shared/shared/services/function_service.py
  docker-compose.yml
Labels: Area: Backend

clean up docker compose
  docker-compose.yml
Labels: none

Upgraded - Concept Mapping Logic
  app/workers/RulesConceptsActivity/__init__.py
Labels: Area: Workers

add get DD func
  app/airflow/dags/libs/SR_processing/core.py
Labels: none

add get dictionary
  app/airflow/dags/SR_processing_dag.py
  app/airflow/dags/libs/SR_processing/core.py
  app/airflow/dags/libs/utils.py
  app/shared/shared/services/worker_service.py
Labels: Area: Backend

initial add create tables and fields
  app/airflow/dags/SR_processing_dag.py
  app/airflow/dags/libs/SR_processing/core.py
  app/airflow/dags/libs/SR_processing/utils.py
  app/airflow/dags/libs/utils.py
Labels: none

.github/labeler.yml:

"Area: Migrations":
  - "app/shared/mapping/migrations/*"
  - "app/shared/files/migrations/*"
  - "app/shared/jobs/migrations/*"

dependencies:
  - "poetry.lock"
  - "pyproject.toml"
  - "app/workers/poetry.lock"
  - "app/workers/pyproject.toml"
  - "app/shared/poetry.lock"
  - "app/shared/pyproject.toml"
  - "app/api/poetry.lock"
  - "app/api/pyproject.toml"
  - "app/next-client-app/package-lock.json"
  - "app/next-client-app/package.json"

"Area: CI":
  - ".github/**/*"

"Area: Backend":
  - "app/api/**"
  - "app/shared/**"

"Area: Frontend":
  - "app/next-client-app/**"

"Area: Workers":
  - "app/workers/**"
