Repository Health-Informatics-UoN/carrot-mapper, changes with the labels that .github/labeler.yml gives for each.
All labels: Area: Migrations, dependencies, Area: CI, Area: Backend, Area: Frontend, Area: Workers

.github/labeler.yml:

"Area: Migrations":
  - "app/shared/mapping/migrations/*"
  - "app/shared/files/migrations/*"
  - "app/shared/jobs/migrations/*"

dependencies:
  - "poetry.lock"
  - "pyproject.toml"
  - "app/workers/poetry.lock"
  - "app/workers/pyproject.toml"
  - "app/shared/poetry.lock"
  - "app/shared/pyproject.toml"
  - "app/api/poetry.lock"
  - "app/api/pyproject.toml"
  - "app/next-client-app/package-lock.json"
  - "app/next-client-app/package.json"

"Area: CI":
  - ".github/**/*"

"Area: Backend":
  - "app/api/**"
  - "app/shared/**"

"Area: Frontend":
  - "app/next-client-app/**"

"Area: Workers":
  - "app/workers/**"

Fix PR comments
  app/next-client-app/app/(protected)/datasets/columns.tsx
  app/next-client-app/components/datasets/CreateDatasetForm.tsx
  app/next-client-app/components/datasets/DatasetForm.tsx
  app/next-client-app/components/scanreports/CreateScanReportForm.tsx
  app/next-client-app/components/scanreports/ScanReportDetailsForm.tsx
Labels: Area: Frontend

Fix Scan report save error
  app/next-client-app/components/scanreports/ScanReportDetailsForm.tsx
Labels: Area: Frontend

Changed PUBLIC to Shared and RESTRICTED to Restricted (#1133)
  app/next-client-app/app/(protected)/datasets/columns.tsx
  app/next-client-app/components/datasets/CreateDatasetForm.tsx
  app/next-client-app/components/datasets/DatasetForm.tsx
  app/next-client-app/components/scanreports/CreateScanReportForm.tsx
  app/next-client-app/components/scanreports/ScanReportDetailsForm.tsx
Labels: Area: Frontend

Pin Checkout Actions to 4.2.2 action releases
  .github/workflows/deploy.yml
Labels: Area: CI

Completed Hardening workflows on deploy.yml
  .github/workflows/deploy.yml
Labels: Area: CI

Completed Hardening workflows on deploy.production.yml
  .github/workflows/deploy.production.yml
Labels: Area: CI

Updated labeler action on label.yml
  .github/workflows/label.yml
Labels: Area: CI

Updated checkout action on ci.yml
  .github/workflows/ci.yml
Labels: Area: CI

Updated actions on publish.yml
  .github/workflows/publish.yml
Labels: Area: CI

Updated actions on test.yml
  .github/workflows/test.yml
Labels: Area: CI

Added Dependency review on deploy.prod
  .github/workflows/deploy.production.yml
Labels: Area: CI

add airflow-logs to automatic containers creation
  app/shared/shared/mapping/management/commands/automatic_queue_and_containers_creation.py
Labels: Area: Backend
