Repository Health-Informatics-UoN/carrot-mapper, changes with the labels that .github/labeler.yml gives for each.
All labels: Area: Migrations, dependencies, Area: CI, Area: Backend, Area: Frontend, Area: Workers

.github/labeler.yml:

"Area: Migrations":
  - "app/shared/mapping/migrations/*"
  - "app/shared/files/migrations/*"
  - "app/shared/jobs/migrations/*"

dependencies:
  - "poetry.lock"
  - "pyproject.toml"
  - "app/workers/poetry.lock"
  - "app/workers/pyproject.toml"
  - "app/shared/poetry.lock"
  - "app/shared/pyproject.toml"
  - "app/api/poetry.lock"
  - "app/api/pyproject.toml"
  - "app/next-client-app/package-lock.json"
  - "app/next-client-app/package.json"

"Area: CI":
  - ".github/**/*"

"Area: Backend":
  - "app/api/**"
  - "app/shared/**"

"Area: Frontend":
  - "app/next-client-app/**"

"Area: Workers":
  - "app/workers/**"

Add rules export DAG (#1064)
  app/airflow/Dockerfile.scheduler
  app/airflow/Dockerfile.webserver
  app/airflow/dags/SR_processing_dag.py
  app/airflow/dags/auto_mapping_dag.py
  app/airflow/dags/libs/SR_processing/core.py
  app/airflow/dags/libs/SR_processing/helpers.py
  app/airflow/dags/libs/auto_mapping/core_rules_creation.py
  app/airflow/dags/libs/auto_mapping/find_R_concepts_to_reuse.py
  app/airflow/dags/libs/auto_mapping/find_standard_V_concepts.py
  app/airflow/dags/libs/queries.py
  app/airflow/dags/libs/rules_export/core.py
  app/airflow/dags/libs/rules_export/file_services.py
  app/airflow/dags/libs/settings.py
  app/airflow/dags/libs/storage_services.py
  app/airflow/dags/libs/types.py
  app/airflow/dags/libs/utils.py
  app/airflow/dags/rules_export_dag.py
  app/airflow/pyproject.toml
  app/airflow/uv.lock
  app/shared/shared/files/views.py
  app/shared/shared/services/worker_service.py
  app/workers/RulesFileQueue/__init__.py
  docker-compose.yml
Labels: Area: Backend, Area: Workers

Refactored Airflow Dockerfile
  app/airflow/Dockerfile.airflow
  app/airflow/Dockerfile.webserver
Labels: none

Refactored Airflow Images and Env Vars
  docker-compose.yml
Labels: none

add debug mode
  app/airflow/dags/SR_processing_dag.py
  app/airflow/dags/auto_mapping_dag.py
  app/airflow/dags/libs/SR_processing/db_services.py
  app/airflow/dags/libs/auto_mapping/core_rules_creation.py
  app/airflow/dags/libs/auto_mapping/find_R_concepts_to_reuse.py
  app/airflow/dags/libs/auto_mapping/find_standard_V_concepts.py
  app/airflow/dags/libs/settings.py
  app/airflow/dags/rules_export_dag.py
  docker-compose.yml
Labels: none

fix csv and json files requested near each other
  app/airflow/dags/libs/queries.py
  app/airflow/dags/libs/rules_export/core.py
  app/airflow/dags/libs/rules_export/file_services.py
  app/airflow/dags/libs/utils.py
Labels: none

test fix
  app/airflow/dags/libs/SR_processing/db_services.py
Labels: none

add debug print
  app/airflow/dags/libs/SR_processing/db_services.py
  app/shared/shared/services/rules_export.py
Labels: Area: Backend

add debug print
  app/shared/shared/services/rules_export.py
Labels: Area: Backend

change to use ID
  app/shared/shared/services/rules_export.py
Labels: Area: Backend

change to use ID
  app/shared/shared/services/rules_export.py
Labels: Area: Backend

revert changes in rules export
  app/shared/shared/services/rules_export.py
Labels: Area: Backend

Make Usermenu, mode toggle and Fileterfield plus global css use default shadcdn style
  app/next-client-app/app/globals.css
  app/next-client-app/components/core/UserMenu.tsx
  app/next-client-app/components/core/mode-toggle.tsx
  app/next-client-app/components/ui/input.tsx
  app/next-client-app/components/ui/tabs.tsx
  app/next-client-app/tailwind.config.ts
Labels: Area: Frontend

unhardcoding content_type_id
  app/airflow/dags/libs/auto_mapping/find_R_concepts_to_reuse.py
  app/airflow/dags/libs/auto_mapping/find_standard_V_concepts.py
  app/airflow/dags/libs/queries.py
Labels: none

Update gitignore
  .gitignore
Labels: none

Run uv sync
  app/api/uv.lock
Labels: Area: Backend

Suppress hydration warning
  app/next-client-app/app/layout.tsx
Labels: Area: Frontend

Add key to avatar list
  app/next-client-app/components/core/avatar-list.tsx
Labels: Area: Frontend

exchange remove BOM location
  app/airflow/dags/libs/SR_processing/db_services.py
  app/airflow/dags/libs/rules_export/file_services.py
Labels: none

Delete static files
  app/api/static/images/carrot-logo.png
  app/api/static/images/favicon.ico
  app/api/static/javascript/custom.js
  app/api/static/style/custom.css
Labels: Area: Backend

try fixing term mapping
  app/shared/shared/services/rules_export.py
Labels: Area: Backend

Fix docker compose
  docker-compose.yml
Labels: none

Fix launch.json
  app/api/.vscode/launch.json
  app/api/.vscode/tasks.json
Labels: Area: Backend

using enum for the scanreportvalue
  app/shared/shared/enums.py
  app/shared/shared/services/rules_export.py
Labels: Area: Backend

clean up
  app/shared/shared/services/rules_export.py
Labels: Area: Backend

Added color pallet for login, scan report, pagination, buttons and Filters
  app/next-client-app/app/(public)/accounts/login/page.tsx
  app/next-client-app/components/data-table/DataTablePagination.tsx
  app/next-client-app/components/scanreports/CreateScanReportForm.tsx
  app/next-client-app/components/scanreports/FacetsFilter.tsx
  app/next-client-app/components/ui/button.tsx
Labels: Area: Frontend

Initial UI Commit
  app/next-client-app/app/(protected)/scanreports/[id]/tables/[tableId]/fields/[fieldId]/columns.tsx
  app/next-client-app/app/layout.tsx
  app/next-client-app/components/ui/ai-suggesions-button.tsx
  app/next-client-app/components/ui/ai-suggestions-dialog.tsx
Labels: Area: Frontend

Defaulted styling to shadcdn for layouts, dropdowns, tables and dialogs
  app/next-client-app/app/(protected)/datasets/[id]/layout.tsx
  app/next-client-app/components/datasets/DatasetForm.tsx
  app/next-client-app/components/scanreports/DeleteDialog.tsx
  app/next-client-app/components/scanreports/ScanReportTableUpdateForm.tsx
  app/next-client-app/components/ui/dropdown-menu.tsx
  app/next-client-app/components/ui/select.tsx
  app/next-client-app/components/ui/switch.tsx
  app/next-client-app/components/ui/table.tsx
Labels: Area: Frontend

Added body size limit for next js
  app/next-client-app/next.config.js
Labels: Area: Frontend

Add favicon
  app/api/static/images/favicon.ico
Labels: Area: Backend

Small dev environment fixes (#1087)
  .gitignore
  app/api/.vscode/launch.json
  app/api/.vscode/tasks.json
  app/api/static/images/carrot-logo.png
  app/api/static/images/favicon.ico
  app/api/static/javascript/custom.js
  app/api/static/style/custom.css
  app/api/uv.lock
  app/next-client-app/app/layout.tsx
  app/next-client-app/components/core/avatar-list.tsx
  docker-compose.yml
Labels: Area: Backend, Area: Frontend

Merge Small dev environment fixes #1087
  .gitignore
  app/api/.vscode/launch.json
  app/api/.vscode/tasks.json
  app/api/static/images/carrot-logo.png
  app/api/static/images/favicon.ico
  app/api/static/javascript/custom.js
  app/api/static/style/custom.css
  app/api/uv.lock
  app/next-client-app/app/layout.tsx
  app/next-client-app/components/core/avatar-list.tsx
  docker-compose.yml
Labels: Area: Backend, Area: Frontend

Made bodySizeLimit configurable
  app/next-client-app/next.config.js
  docker-compose.yml
Labels: Area: Frontend

Fixed UV lock conflict
  app/api/uv.lock
Labels: Area: Backend

Set NEXT_SERVER_ACTION_BODY_SIZE_LIMIT to 15MB
  app/next-client-app/next.config.js
  docker-compose.yml
Labels: Area: Frontend

Added Condition Logic & Comments
  app/next-client-app/app/(protected)/scanreports/[id]/tables/[tableId]/fields/[fieldId]/columns.tsx
  app/next-client-app/components/ui/ai-suggesions-button.tsx
  docker-compose.yml
Labels: Area: Frontend

hot fix
  app/shared/shared/services/rules.py
Labels: Area: Backend

hot fix
  app/shared/shared/services/rules.py
  app/workers/RulesConceptsActivity/reuse.py
Labels: Area: Backend, Area: Workers

Hot fix for rules generation (#1092)
  app/workers/RulesConceptsActivity/reuse.py
Labels: Area: Workers

WIP on housekeeping
  app/airflow/dags/libs/auto_mapping/find_R_concepts_to_reuse.py
  app/airflow/dags/libs/queries.py
Labels: none

test value reuse improvement
  app/airflow/dags/libs/auto_mapping/find_R_concepts_to_reuse.py
  app/airflow/dags/libs/queries.py
Labels: none
