Repository Health-Informatics-UoN/carrot-mapper, changes with the labels that .github/labeler.yml gives for each.
All labels: Area: Migrations, dependencies, Area: CI, Area: Backend, Area: Frontend, Area: Workers

add details from workers
  app/airflow/dags/libs/SR_processing/core.py
  app/airflow/dags/libs/SR_processing/db_services.py
Labels: none

add upload details to the backend
  app/api/api/serializers.py
  app/shared/shared/mapping/migrations/0009_scanreport_upload_status_details.py
  app/shared/shared/mapping/models.py
Labels: Area: Backend

add upload details to the frontend
  app/next-client-app/app/(protected)/scanreports/[id]/layout.tsx
  app/next-client-app/app/(protected)/scanreports/columns.tsx
  app/next-client-app/types/scanreport.ts
Labels: Area: Frontend

make the StatusIcon better
  app/next-client-app/components/core/StatusIcon.tsx
Labels: Area: Frontend

add error handling for rules export
  app/airflow/dags/libs/rules_export/core.py
Labels: none

give more details for errors
  app/airflow/dags/libs/rules_export/file_services.py
Labels: none

improve tooltip and download status
  app/next-client-app/app/(protected)/scanreports/[id]/downloads/download-status.tsx
  app/next-client-app/components/core/StatusIcon.tsx
Labels: Area: Frontend

Delete source_table from views
  app/api/api/views.py
Labels: Area: Backend

alter charfield with textfiled in job details
  app/shared/shared/jobs/migrations/0003_alter_job_details.py
  app/shared/shared/jobs/models.py
Labels: Area: Backend

add more dettails for jobs auto mapping
  app/airflow/dags/libs/auto_mapping/core_get_existing_concepts.py
  app/airflow/dags/libs/auto_mapping/core_rules_creation.py
  app/airflow/dags/libs/auto_mapping/find_R_concepts_to_reuse.py
  app/airflow/dags/libs/auto_mapping/find_standard_V_concepts.py
Labels: none

make the status correct
  app/airflow/dags/libs/SR_processing/core.py
Labels: none

update naming to camel case
  app/next-client-app/api/recommendations.ts
  app/next-client-app/app/(protected)/scanreports/[id]/tables/[tableId]/columns.tsx
  app/next-client-app/app/(protected)/scanreports/[id]/tables/[tableId]/fields/[fieldId]/columns.tsx
  app/next-client-app/components/recommendations/ai-suggestions-dialog.tsx
  app/next-client-app/components/scanreports/ScanReportTableUpdateForm.tsx
  app/next-client-app/constants/index.ts
Labels: Area: Frontend

MVP version of Unison integration (#1122)
  app/next-client-app/api/recommendations.ts
  app/next-client-app/app/(protected)/scanreports/[id]/tables/[tableId]/columns.tsx
  app/next-client-app/app/(protected)/scanreports/[id]/tables/[tableId]/fields/[fieldId]/columns.tsx
  app/next-client-app/components/core/Tooltips.tsx
  app/next-client-app/components/magicui/animated-beam.tsx
  app/next-client-app/components/magicui/animated-grid-pattern.tsx
  app/next-client-app/components/magicui/bento-grid.tsx
  app/next-client-app/components/magicui/box-reveal.tsx
  app/next-client-app/components/recommendations/ai-suggesions-button.tsx
  app/next-client-app/components/recommendations/ai-suggestions-dialog.tsx
  app/next-client-app/components/recommendations/columns.tsx
  app/next-client-app/components/scanreports/ScanReportTableUpdateForm.tsx
  app/next-client-app/constants/domains.ts
  app/next-client-app/constants/index.ts
  app/next-client-app/lib/api/request.ts
  app/next-client-app/types/recommendation.ts
  docker-compose.yml
Labels: Area: Frontend

fix migration
  app/shared/shared/mapping/migrations/0009_delete_classificationsystem_delete_nlpmodel_and_more.py
Labels: Area: Backend

Remove Unused Fields and Tables from Shared/Mapping/Models (#1128)
  app/api/api/views.py
  app/shared/shared/mapping/admin.py
  app/shared/shared/mapping/migrations/0009_delete_classificationsystem_delete_nlpmodel_and_more.py
  app/shared/shared/mapping/models.py
Labels: Area: Backend

Change public to shared on the frontend
  app/next-client-app/components/datasets/CreateDatasetForm.tsx
  app/next-client-app/components/datasets/DatasetForm.tsx
  app/next-client-app/components/scanreports/CreateScanReportForm.tsx
  app/next-client-app/components/scanreports/ScanReportDetailsForm.tsx
Labels: Area: Frontend

Changed PUBLIC to SHARED & Made Migrations in the backend
  app/api/api/filters.py
  app/api/datasets/views.py
  app/api/test/test_permissions.py
  app/api/test/test_serializers.py
  app/api/test/test_services_rules.py
  app/api/test/test_views.py
  app/shared/shared/mapping/migrations/0010_alter_dataset_visibility_alter_scanreport_visibility.py
  app/shared/shared/mapping/models.py
  app/shared/shared/mapping/permissions.py
Labels: Area: Backend

Rename setsharedVisibility to setSharedVisibility
  app/next-client-app/components/datasets/CreateDatasetForm.tsx
Labels: Area: Frontend

Formatted migrations
  app/shared/shared/mapping/migrations/0010_alter_dataset_visibility_alter_scanreport_visibility.py
Labels: Area: Backend

resolve miration confilict
  app/shared/shared/mapping/migrations/0010_scanreport_upload_status_details.py
Labels: Area: Backend

formatting migration
  app/shared/shared/mapping/migrations/0010_scanreport_upload_status_details.py
Labels: Area: Backend

fix color
  app/next-client-app/constants/job.ts
Labels: Area: Frontend

add error handling
  app/airflow/dags/libs/auto_mapping/find_R_concepts_to_reuse.py
Labels: none

Update models to add further provenance
  app/shared/shared/mapping/models.py
Labels: Area: Backend

Redo migrations
  app/shared/shared/mapping/migrations/0009_scanreportconcept_created_by.py
  app/shared/shared/mapping/migrations/0010_scanreportconcept_confidence_and_more.py
Labels: Area: Backend

Remove default
  app/shared/shared/mapping/migrations/0010_scanreportconcept_confidence_and_more.py
  app/shared/shared/mapping/models.py
Labels: Area: Backend

Add version to API
  app/api/api/views.py
Labels: Area: Backend

Update version lol
  app/api/pyproject.toml
Labels: dependencies, Area: Backend

Format file
  app/shared/shared/mapping/migrations/0010_scanreportconcept_confidence_and_more.py
Labels: Area: Backend

Add codeowners
  .github/CODEOWNERS
Labels: Area: CI

Update version number
  app/api/pyproject.toml
Labels: dependencies, Area: Backend

Add uv lock
  app/api/uv.lock
Labels: Area: Backend

Add Scan Report Concept created_by (#1124)
  .github/CODEOWNERS
  app/api/api/views.py
  app/api/pyproject.toml
  app/api/uv.lock
  app/shared/shared/mapping/migrations/0010_scanreportconcept_confidence_and_more.py
  app/shared/shared/mapping/models.py
Labels: dependencies, Area: CI, Area: Backend

resolve migration
  app/shared/shared/mapping/migrations/0011_scanreport_upload_status_details.py
Labels: Area: Backend

formatting
  app/shared/shared/mapping/migrations/0011_scanreport_upload_status_details.py
Labels: Area: Backend

Fix text colour on scan report tables
  app/next-client-app/app/(protected)/scanreports/[id]/tables/[tableId]/columns.tsx
Labels: Area: Frontend

Improve errors handling and depicting (#1129)
  app/airflow/dags/libs/SR_processing/core.py
  app/airflow/dags/libs/SR_processing/db_services.py
  app/airflow/dags/libs/auto_mapping/core_get_existing_concepts.py
  app/airflow/dags/libs/auto_mapping/core_rules_creation.py
  app/airflow/dags/libs/auto_mapping/find_R_concepts_to_reuse.py
  app/airflow/dags/libs/auto_mapping/find_standard_V_concepts.py
  app/airflow/dags/libs/rules_export/core.py
  app/airflow/dags/libs/rules_export/file_services.py
  app/airflow/dags/libs/utils.py
  app/api/api/serializers.py
  app/next-client-app/app/(protected)/scanreports/[id]/downloads/download-status.tsx
  app/next-client-app/app/(protected)/scanreports/[id]/layout.tsx
  app/next-client-app/app/(protected)/scanreports/columns.tsx
  app/next-client-app/components/core/StatusIcon.tsx
  app/next-client-app/constants/job.ts
  app/next-client-app/types/scanreport.ts
  app/shared/shared/jobs/migrations/0003_alter_job_details.py
  app/shared/shared/jobs/models.py
  app/shared/shared/mapping/migrations/0011_scanreport_upload_status_details.py
  app/shared/shared/mapping/models.py
Labels: Area: Backend, Area: Frontend

Added hover effect in dark mode for get suggestions button
  app/next-client-app/components/recommendations/ai-suggesions-button.tsx
Labels: Area: Frontend

Fix text colour on scan report tables (#1132)
  app/next-client-app/app/(protected)/scanreports/[id]/tables/[tableId]/columns.tsx
  app/next-client-app/components/recommendations/ai-suggesions-button.tsx
Labels: Area: Frontend

Changed PUBLIC to shared and RESTRICTED to restricted
  app/next-client-app/components/datasets/CreateDatasetForm.tsx
  app/next-client-app/components/datasets/DatasetForm.tsx
  app/next-client-app/components/scanreports/CreateScanReportForm.tsx
  app/next-client-app/components/scanreports/ScanReportDetailsForm.tsx
Labels: Area: Frontend

.github/labeler.yml:

"Area: Migrations":
  - "app/shared/mapping/migrations/*"
  - "app/shared/files/migrations/*"
  - "app/shared/jobs/migrations/*"

dependencies:
  - "poetry.lock"
  - "pyproject.toml"
  - "app/workers/poetry.lock"
  - "app/workers/pyproject.toml"
  - "app/shared/poetry.lock"
  - "app/shared/pyproject.toml"
  - "app/api/poetry.lock"
  - "app/api/pyproject.toml"
  - "app/next-client-app/package-lock.json"
  - "app/next-client-app/package.json"

"Area: CI":
  - ".github/**/*"

"Area: Backend":
  - "app/api/**"
  - "app/shared/**"

"Area: Frontend":
  - "app/next-client-app/**"

"Area: Workers":
  - "app/workers/**"
