Repository Health-Informatics-UoN/carrot-mapper, changes with the labels that .github/labeler.yml gives for each.
All labels: Area: Migrations, dependencies, Area: CI, Area: Backend, Area: Frontend, Area: Workers

improve docstring
  app/airflow/dags/libs/core_concepts_creation.py
  app/airflow/dags/libs/core_prep_rules_creation.py
Labels: none

Migrated from Poetry to UV
  app/api/Dockerfile
  app/api/poetry.lock
  app/api/pyproject.toml
  app/api/uv.lock
Labels: dependencies, Area: Backend

make names more desciptive
  app/airflow/dags/libs/core_concepts_creation.py
  app/airflow/dags/libs/core_prep_rules_creation.py
Labels: none

Migrated to UV for Root
  poetry.lock
  pyproject.toml
  uv.lock
Labels: dependencies

Migrated from Poetry to UV for Workers
  app/workers/Dockerfile
  app/workers/poetry.lock
  app/workers/pyproject.toml
  app/workers/uv.lock
Labels: dependencies, Area: Workers

Update Test Cases for Workers - UV
  .github/workflows/test.yml
Labels: Area: CI

Bug Fixed - Trial 1
  .github/workflows/test.yml
Labels: Area: CI

Removed no root for UV
  .github/workflows/test.yml
Labels: Area: CI

Added editable options to uv
  .github/workflows/test.yml
Labels: Area: CI

Bug Fixed - Trial 2
  .github/workflows/test.yml
Labels: Area: CI

Bug Fix - Trial 3
  .github/workflows/test.yml
Labels: Area: CI

Bug Fix - Trial 4
  .github/workflows/test.yml
Labels: Area: CI

Bug fix - Trial 5
  .github/workflows/test.yml
Labels: Area: CI

Bug Fixed - Trial 6
  .github/workflows/test.yml
Labels: Area: CI

Bug Fixed - Trial 6
  app/workers/pyproject.toml
Labels: dependencies, Area: Workers

Bug Fixed - Trial 7
  .github/workflows/test.yml
Labels: Area: CI

Trial - 8
  app/workers/pyproject.toml
Labels: dependencies, Area: Workers

Test -8
  .github/workflows/test.yml
Labels: Area: CI

Test - 9
  .github/workflows/test.yml
Labels: Area: CI

Trial - 10
  .github/workflows/test.yml
Labels: Area: CI

test 11
  .github/workflows/test.yml
Labels: Area: CI

Test 12
  .github/workflows/test.yml
Labels: Area: CI

13 - test
  .github/workflows/test.yml
Labels: Area: CI

Final Github testing
  .github/workflows/test.yml
Labels: Area: CI

Fix Review comments
  app/next-client-app/api/password-reset.ts
  app/next-client-app/app/(protected)/password-reset/page.tsx
  app/next-client-app/components/core/UserMenu.tsx
  app/next-client-app/components/core/sidebar.tsx
  app/next-client-app/pnpm-lock.yaml
Labels: Area: Frontend

Fix Review comments
  app/next-client-app/app/(protected)/password-reset/page.tsx
Labels: Area: Frontend

Added test Cases - UV for API
  .github/workflows/test.yml
Labels: Area: CI

Bug Fixed - replaced with UV
  .github/workflows/test.yml
Labels: Area: CI

Added Packages and Setup tools in pyproject.toml
  app/api/pyproject.toml
Labels: dependencies, Area: Backend

initial add resue concept functions
  app/airflow/dags/auto_mapping_orchestrator_dag.py
  app/airflow/dags/libs/core_reuse_concepts.py
  app/airflow/dags/reuse_concepts_dag.py
Labels: none

Added Conditional rendering during scan report upload
  app/next-client-app/app/(protected)/scanreports/[id]/layout.tsx
  app/next-client-app/components/data-table/index.tsx
Labels: Area: Frontend

tempo fix for find_concepts function
  app/airflow/.gitignore
  app/airflow/dags/libs/core_prep_rules_creation.py
Labels: none

Refactored Queue Names (#1018)
  app/api/config/settings.py
  app/shared/shared/mapping/management/commands/automatic_queue_and_containers_creation.py
  docker-compose.yml
  sample-env.txt
  sample-local.settings.json
Labels: Area: Backend

Added validator for dd & sr (#1015)
  app/api/api/logger.py
  app/api/api/serializers.py
Labels: Area: Backend

fix find_additional fields
  app/airflow/dags/libs/core_prep_rules_creation.py
Labels: none

Meas value concepts shouldn't be in auto mapping until value_as_concept sorted
  app/airflow/dags/libs/core_prep_rules_creation.py
Labels: none

Remove unused csrf fetchkey
  app/next-client-app/api/password-reset.ts
Labels: Area: Frontend

improve names
  app/airflow/dags/libs/core_concepts_creation.py
  app/airflow/dags/libs/core_prep_rules_creation.py
  app/airflow/dags/libs/core_rules_creation.py
Labels: none

update param names
  app/airflow/dags/libs/core_concepts_creation.py
  app/airflow/dags/libs/core_prep_rules_creation.py
  app/airflow/dags/libs/core_rules_creation.py
  app/airflow/dags/libs/utils.py
Labels: none

add AS to FROM and JOIN
  app/airflow/dags/libs/core_concepts_creation.py
  app/airflow/dags/libs/core_prep_rules_creation.py
Labels: none

.github/labeler.yml:

"Area: Migrations":
  - "app/shared/mapping/migrations/*"
  - "app/shared/files/migrations/*"
  - "app/shared/jobs/migrations/*"

dependencies:
  - "poetry.lock"
  - "pyproject.toml"
  - "app/workers/poetry.lock"
  - "app/workers/pyproject.toml"
  - "app/shared/poetry.lock"
  - "app/shared/pyproject.toml"
  - "app/api/poetry.lock"
  - "app/api/pyproject.toml"
  - "app/next-client-app/package-lock.json"
  - "app/next-client-app/package.json"

"Area: CI":
  - ".github/**/*"

"Area: Backend":
  - "app/api/**"
  - "app/shared/**"

"Area: Frontend":
  - "app/next-client-app/**"

"Area: Workers":
  - "app/workers/**"
