Repository Health-Informatics-UoN/carrot-mapper, pull requests merged in 2024-04, with the labels that each got.

#661 Fix Scan Report upload without data dictionary
  app/workers/shared_code/api.py
  app/workers/shared_code/blob_parser.py
Labels: Area: Workers

#667 Add Django proxy for Nextjs
  .vscode/carrot.code-workspace
  app/api/api/settings.py
  app/api/api/urls.py
  app/api/mapping/urls.py
  app/api/poetry.lock
  app/api/proxy/__init__.py
  app/api/proxy/apps.py
  app/api/proxy/urls.py
  app/api/pyproject.toml
  app/next-client-app/.vscode/launch.json
  app/next-client-app/api/request.ts
  app/next-client-app/api/scan-reports.ts
  app/next-client-app/app/scanreports/columns.tsx
  app/next-client-app/app/scanreports/page.tsx
  app/next-client-app/components/Navbar.tsx
  app/next-client-app/components/data-table/index.tsx
  changelog.md
Labels: dependencies, Area: Backend

#666 Next client app GitHub pipeline
  .github/workflows/deploy.yml
  app/next-client-app/next.config.js
  app/next-client-app/next.config.mjs
Labels: Area: CI

#668 Update webapp to Python 3.11
  .github/workflows/test.yml
  app/Dockerfile
  app/Dockerfile.deploy
  app/api/poetry.lock
  app/api/pyproject.toml
  changelog.md
  docker-compose.yml
  pyproject.toml
Labels: dependencies, Area: CI, Area: Backend

#669 Fix CSRF error on login
  app/api/api/settings.py
  app/api/pyproject.toml
  app/api/test/settings.py
Labels: dependencies, Area: Backend

#671 Add shared package for database models
  .gitignore
  .vscode/carrot.code-workspace
  app/Dockerfile
  app/Dockerfile.deploy
  app/api/api/react.py
  app/api/api/settings.py
  app/api/mapping/admin.py
  app/api/mapping/forms.py
  app/api/mapping/management/commands/add_admins_to_datasets.py
  app/api/mapping/management/commands/add_datasets_to_partner.py
  app/api/mapping/management/commands/generate_rules_json.py
  app/api/mapping/management/commands/unorphan_scanreports.py
  app/api/mapping/permissions.py
  app/api/mapping/serializers.py
  app/api/mapping/services_nlp.py
  app/api/mapping/services_rules.py
  app/api/mapping/views.py
  app/api/poetry.lock
  app/api/pyproject.toml
  app/api/test/conftest.py
  app/api/test/test_permissions.py
  app/api/test/test_serializers.py
  app/api/test/test_services_rules.py
  app/api/test/test_views.py
  app/shared/poetry.lock
  app/shared/pyproject.toml
  app/shared/shared/__init__.py
  app/shared/shared/data/__init__.py
  app/shared/shared/data/models.py
  app/shared/shared/data/omop/__init__.py
  app/shared/shared/data/omop/concept.py
  app/shared/shared/data/omop/concept_ancestor.py
  app/shared/shared/data/omop/concept_class.py
  app/shared/shared/data/omop/concept_relationship.py
  app/shared/shared/data/omop/concept_synonym.py
  app/shared/shared/data/omop/domain.py
  app/shared/shared/data/omop/drug_strength.py
  app/shared/shared/data/omop/vocabulary.py
  app/workers/DatabaseTest/__init__.py
  app/workers/DatabaseTest/function.json
  app/workers/poetry.lock
  app/workers/pyproject.toml
  app/workers/shared_code/django_settings.py
  changelog.md
Labels: dependencies, Area: Workers, Area: Backend

#672 Fix reusing Concepts without a data dictionary
  .github/workflows/deploy.yml
  app/workers/shared_code/blob_parser.py
  changelog.md
Labels: Area: CI, Area: Workers

#686 Restructure Django app
  app/api/api/paginations.py
  app/api/api/router.py
  app/api/api/serializers.py
  app/api/api/urls.py
  app/api/api/views.py
  app/api/config/__init__.py
  app/api/config/asgi.py
  app/api/config/react.py
  app/api/config/settings.py
  app/api/config/urls.py
  app/api/config/wsgi.py
  app/api/manage.py
  app/api/mapping/urls.py
  app/api/mapping/views.py
  app/api/proxy/urls.py
  app/api/test/settings.py
  app/api/test/test_permissions.py
  app/api/test/test_serializers.py
  app/api/test/test_views.py
  app/next-client-app/api/scan-reports.ts
  changelog.md
Labels: Area: Backend

#689 Delete Django view queries
  app/api/mapping/views.py
Labels: Area: Backend

#691 Add data table pagination and filtering to scanreport index
  .github/workflows/ci.yml
  app/api/api/serializers.py
  app/api/api/views.py
  app/next-client-app/api/data.ts
  app/next-client-app/api/request.ts
  app/next-client-app/api/scan-reports.ts
  app/next-client-app/api/scanreports.ts
  app/next-client-app/app/loading.tsx
  app/next-client-app/app/scanreports/columns.tsx
  app/next-client-app/app/scanreports/page.tsx
  app/next-client-app/components/data-table/DataTableColumnHeader.tsx
  app/next-client-app/components/data-table/DataTablePagination.tsx
  app/next-client-app/components/data-table/index.tsx
  app/next-client-app/components/ui/dropdown-menu.tsx
  app/next-client-app/components/ui/tabs.tsx
  app/next-client-app/lib/client-utils.ts
  app/next-client-app/next.config.js
  app/next-client-app/package-lock.json
  app/next-client-app/package.json
  app/next-client-app/types/index.ts
Labels: Area: CI, Area: Backend
