Repository Health-Informatics-UoN/carrot-mapper, pull requests merged in 2024-11, with the labels that each got.

#905 Fix automated building multiple Vocabs concepts from OMOP
  app/workers/RulesConceptsActivity/__init__.py
Labels: Area: Workers

#913 Add publish workflow
  .github/workflows/publish.yml
Labels: Area: CI

#916 Add data models for ScanReport Job overview
  app/api/config/settings.py
  app/shared/shared/jobs/__init__.py
  app/shared/shared/jobs/apps.py
  app/shared/shared/jobs/migrations/0001_initial.py
  app/shared/shared/jobs/migrations/__init__.py
  app/shared/shared/jobs/models.py
Labels: Area: Backend

#917 Add backend API endpoint for Job views
  app/api/api/urls.py
  app/shared/shared/jobs/serializers.py
  app/shared/shared/jobs/views.py
  app/workers/shared_code/db.py
Labels: Area: Workers, Area: Backend
