Repository Health-Informatics-UoN/carrot-mapper, pull requests merged in 2024-09, with the labels that each got.

#859 Fix Adding dataset to projects where users don't have membership
  app/api/datasets/serializers.py
  app/api/projects/serializers.py
  app/api/projects/views.py
  app/next-client-app/api/datasets.ts
  app/next-client-app/app/(protected)/datasets/[id]/layout.tsx
  app/next-client-app/components/datasets/CreateDatasetDialog.tsx
  app/next-client-app/components/datasets/DatasetForm.tsx
  app/next-client-app/components/form-components/FormikSelectDataset.tsx
  app/next-client-app/components/form-components/FormikSelectEditors.tsx
  app/next-client-app/components/form-components/FormikSelectUsers.tsx
  app/next-client-app/types/dataset.ts
Labels: Area: Backend

#860 Add Author column to ScanReport list page
  app/api/api/serializers.py
  app/next-client-app/app/(protected)/scanreports/[id]/downloads/page.tsx
  app/next-client-app/app/(protected)/scanreports/[id]/layout.tsx
  app/next-client-app/app/(protected)/scanreports/columns.tsx
  app/next-client-app/components/scanreports/ScanReportDetailsForm.tsx
  app/next-client-app/types/scanreport.ts
Labels: Area: Backend

#862 Fix deployment pipeline
  .github/workflows/deploy.production.yml
  .github/workflows/deploy.yml
Labels: Area: CI

#882 Containerising Azure functions/Workers
  .github/workflows/ci.yml
  app/workers/.dockerignore
  app/workers/.gitignore
  app/workers/Dockerfile
  app/workers/RulesTrigger/function.json
  app/workers/poetry.lock
  docker-compose.yml
Labels: dependencies, Area: CI, Area: Workers

#881 Add "value_as_number" or "value_as_string" field to OBSERVATION table
  app/api/api/views.py
  app/shared/shared/services/rules.py
Labels: Area: Backend

#885 Fix can't create new dataset
  app/api/datasets/serializers.py
  app/api/datasets/views.py
  app/next-client-app/components/core/menubar.tsx
Labels: Area: Backend

#887 Fix error when add concept at value level
  app/api/api/views.py
  app/next-client-app/app/(protected)/scanreports/[id]/layout.tsx
  app/shared/shared/services/rules.py
Labels: Area: Backend
