Repository Health-Informatics-UoN/carrot-mapper, pull requests merged in 2024-10, with the labels that each got.

#889 Fix Carrot's reuse function
  app/next-client-app/components/concepts/concept-tags.tsx
  app/workers/RulesConceptsActivity/reuse.py
  app/workers/shared_code/db.py
Labels: Area: Backend

#890 Fix Carrot function of building vocabulary from OMOP
  app/workers/RulesConceptsActivity/__init__.py
Labels: Area: Workers

#891 Add support for concepts having "Meas value" domain
  app/api/api/views.py
  app/shared/shared/services/rules.py
  app/workers/poetry.lock
  app/workers/pyproject.toml
Labels: dependencies, Area: Workers, Area: Backend

#894 Change UploadQueue to use the database
  app/workers/UploadQueue/__init__.py
  app/workers/shared_code/api.py
  app/workers/shared_code/db.py
Labels: Area: Workers

#896 Splitting out the Status field of a ScanReport
  app/api/api/serializers.py
  app/api/api/views.py
  app/api/config/react.py
  app/next-client-app/app/(protected)/scanreports/[id]/layout.tsx
  app/next-client-app/app/(protected)/scanreports/columns.tsx
  app/next-client-app/components/core/nav-button.tsx
  app/next-client-app/components/data-table/index.tsx
  app/next-client-app/components/scanreports/CreateScanReportForm.tsx
  app/next-client-app/components/scanreports/FacetsFilter.tsx
  app/next-client-app/components/scanreports/MappingStatus.tsx
  app/next-client-app/components/scanreports/MappingStatusFilter.tsx
  app/next-client-app/components/scanreports/ScanReportsTableFilter.tsx
  app/next-client-app/components/scanreports/UploadStatus.tsx
  app/next-client-app/components/ui/table.tsx
  app/next-client-app/constants/scanReportStatus.ts
  app/next-client-app/package-lock.json
  app/next-client-app/package.json
  app/next-client-app/types/scanreport.ts
  app/shared/shared/mapping/fixtures/mapping_status.json
  app/shared/shared/mapping/fixtures/upload_status.json
  app/shared/shared/mapping/migrations/0004_mappingstatus_uploadstatus.py
  app/shared/shared/mapping/migrations/0005_auto_20241015_0900.py
  app/shared/shared/mapping/models.py
  app/workers/UploadQueue/__init__.py
  app/workers/shared_code/db.py
Labels: Area: Workers, Area: Backend

#899 Add Projects pages: Index and Details
  app/api/datasets/serializers.py
  app/api/datasets/views.py
  app/api/projects/serializers.py
  app/api/projects/views.py
  app/next-client-app/api/datasets.ts
  app/next-client-app/api/projects.ts
  app/next-client-app/app/(protected)/datasets/[id]/details/page.tsx
  app/next-client-app/app/(protected)/datasets/[id]/layout.tsx
  app/next-client-app/app/(protected)/datasets/page.tsx
  app/next-client-app/app/(protected)/projects/[id]/columns.tsx
  app/next-client-app/app/(protected)/projects/[id]/layout.tsx
  app/next-client-app/app/(protected)/projects/[id]/page.tsx
  app/next-client-app/app/(protected)/projects/columns.tsx
  app/next-client-app/app/(protected)/projects/page.tsx
  app/next-client-app/app/(protected)/scanreports/[id]/layout.tsx
  app/next-client-app/app/(protected)/scanreports/columns.tsx
  app/next-client-app/app/(protected)/scanreports/create/page.tsx
  app/next-client-app/components/core/avatar-list.tsx
  app/next-client-app/components/core/menuItems.tsx
  app/next-client-app/components/core/nav-button.tsx
  app/next-client-app/components/data-table/index.tsx
  app/next-client-app/components/form-components/FormikSelectDataset.tsx
  app/next-client-app/components/form-components/FormikSelectEditors.tsx
  app/next-client-app/components/form-components/FormikSelectUsers.tsx
  app/next-client-app/components/scanreports/UploadStatus.tsx
  app/next-client-app/package-lock.json
  app/next-client-app/package.json
  app/next-client-app/types/dataset.ts
  app/next-client-app/types/project.ts
Labels: Area: Backend
