Repository Health-Informatics-UoN/carrot-mapper, pull requests merged in 2024-08, with the labels that each got.

#813 Fix cache clearing
  app/api/api/apps.py
  app/api/api/filters.py
  app/api/api/signals.py
Labels: Area: Backend

#811 Untangle V2 API endpoints
  app/api/api/views.py
  app/next-client-app/app/datasets/[id]/columns.tsx
  app/next-client-app/app/scanreports/[id]/layout.tsx
  app/next-client-app/app/scanreports/columns.tsx
  app/next-client-app/components/scanreports/ScanReportStatus.tsx
Labels: Area: Backend

#815 Bug fix for ScanReportListViewSetV2
  app/api/api/views.py
Labels: Area: Backend

#820 Fix rules formatting + redirect
  app/api/api/serializers.py
  app/api/config/settings.py
  app/api/config/urls.py
  app/api/proxy/__init__.py
  app/api/proxy/apps.py
  app/api/proxy/urls.py
  app/next-client-app/api/scanreports.ts
  app/next-client-app/app/datasets/[id]/columns.tsx
  app/next-client-app/app/datasets/[id]/page.tsx
  app/next-client-app/app/error.tsx
  app/next-client-app/app/not-found.tsx
  app/next-client-app/app/page.tsx
  app/next-client-app/app/scanreports/[id]/details/page.tsx
  app/next-client-app/app/scanreports/[id]/layout.tsx
  app/next-client-app/app/scanreports/[id]/mapping_rules/get-file.tsx
  app/next-client-app/app/scanreports/[id]/tables/[tableId]/fields/[fieldId]/update/page.tsx
  app/next-client-app/app/scanreports/columns.tsx
  app/next-client-app/components/scanreports/ScanReportDetailsForm.tsx
  app/next-client-app/middleware.ts
  app/next-client-app/types/dataset.ts
  app/next-client-app/types/scanreport.ts
Labels: Area: Backend

#821 Add a sidebar and enable dark mode for Carrot
  app/api/api/urls.py
  app/api/api/views.py
  app/api/static/images/carrot-logo.png
  app/api/static/images/coconnect-logo.png
  app/api/static/images/favicon.ico
  app/api/templates/base.html
  app/next-client-app/api/users.ts
  app/next-client-app/app/datasets/[id]/layout.tsx
  app/next-client-app/app/datasets/page.tsx
  app/next-client-app/app/globals.css
  app/next-client-app/app/layout.tsx
  app/next-client-app/app/scanreports/[id]/layout.tsx
  app/next-client-app/app/scanreports/[id]/tables/[tableId]/columns.tsx
  app/next-client-app/app/scanreports/[id]/tables/[tableId]/fields/[fieldId]/update/page.tsx
  app/next-client-app/app/scanreports/[id]/tables/[tableId]/update/page.tsx
  app/next-client-app/app/scanreports/columns.tsx
  app/next-client-app/app/scanreports/create/page.tsx
  app/next-client-app/app/scanreports/page.tsx
  app/next-client-app/components/concepts/concept-tags.tsx
  app/next-client-app/components/core/mode-toggle.tsx
  app/next-client-app/components/core/nav-button.tsx
  app/next-client-app/components/core/sidebar-button.tsx
  app/next-client-app/components/core/sidebar.tsx
  app/next-client-app/components/datasets/CreateDatasetForm.tsx
  app/next-client-app/components/datasets/DatasetForm.tsx
  app/next-client-app/components/form-components/FormikSelect.tsx
  app/next-client-app/components/form-components/FormikSelectDataset.tsx
  app/next-client-app/components/form-components/FormikSelectEditors.tsx
  app/next-client-app/components/form-components/FormikSelectUsers.tsx
  app/next-client-app/components/scanreports/CreateScanReportForm.tsx
  app/next-client-app/components/scanreports/DeleteActionItem.tsx
  app/next-client-app/components/scanreports/EditButton.tsx
  app/next-client-app/components/scanreports/ScanReportDetailsForm.tsx
  app/next-client-app/components/scanreports/ScanReportFieldEditForm.tsx
  app/next-client-app/components/scanreports/ScanReportTableUpdateForm.tsx
  app/next-client-app/components/theme-provider.tsx
  app/next-client-app/components/ui/alert.tsx
  app/next-client-app/components/ui/button.tsx
  app/next-client-app/components/ui/drawer.tsx
  app/next-client-app/components/ui/input.tsx
  app/next-client-app/components/ui/select.tsx
  app/next-client-app/components/ui/sheet.tsx
  app/next-client-app/components/ui/tabs.tsx
  app/next-client-app/constants/scanReportStatus.ts
  app/next-client-app/package-lock.json
  app/next-client-app/package.json
  app/next-client-app/public/android-chrome-192x192.png
  app/next-client-app/public/android-chrome-512x512.png
  app/next-client-app/public/apple-touch-icon.png
  app/next-client-app/public/carrot-logo.png
  app/next-client-app/public/coconnect-logo.png
  app/next-client-app/public/favicon-16x16.png
  app/next-client-app/public/favicon-32x32.png
  app/next-client-app/public/favicon.ico
  app/next-client-app/public/manifest.json
Labels: Area: Backend

#819 Fix mobile views / layout
  app/api/.vscode/tasks.json
  app/api/config/urls.py
  app/next-client-app/api/concepts.ts
  app/next-client-app/app/datasets/[id]/layout.tsx
  app/next-client-app/app/datasets/page.tsx
  app/next-client-app/app/layout.tsx
  app/next-client-app/app/scanreports/[id]/layout.tsx
  app/next-client-app/app/scanreports/[id]/mapping_rules/rules-buttons.tsx
  app/next-client-app/app/scanreports/[id]/tables/[tableId]/update/page.tsx
  app/next-client-app/app/scanreports/create/page.tsx
  app/next-client-app/app/scanreports/page.tsx
  app/next-client-app/components/BootstrapClient.tsx
  app/next-client-app/components/core/InfoItem.tsx
  app/next-client-app/components/core/nav-button.tsx
  app/next-client-app/components/core/nav-group.tsx
  app/next-client-app/components/core/sidebar.tsx
  app/next-client-app/components/scanreports/ScanReportStatus.tsx
  app/next-client-app/package-lock.json
  app/next-client-app/package.json
Labels: Area: Backend

#829 Fix mapping downloads name
  app/api/poetry.lock
  app/api/pyproject.toml
  app/next-client-app/api/mapping-rules.ts
  app/next-client-app/app/(protected)/layout.tsx
  app/next-client-app/app/(protected)/scanreports/[id]/mapping_rules/get-file.tsx
  app/next-client-app/app/(protected)/scanreports/[id]/mapping_rules/page.tsx
  app/next-client-app/app/(protected)/scanreports/[id]/mapping_rules/rules-buttons.tsx
  app/next-client-app/app/(protected)/scanreports/[id]/review_rules/page.tsx
  app/next-client-app/app/(public)/layout.tsx
  app/next-client-app/app/custom.css
  app/next-client-app/app/layout.tsx
  app/shared/poetry.lock
  app/shared/pyproject.toml
  app/workers/poetry.lock
  changelog.md
  pyproject.toml
Labels: dependencies, Area: Workers, Area: Backend

#836 File Downloads data model
  app/api/config/settings.py
  app/shared/pyproject.toml
  app/shared/shared/files/__init__.py
  app/shared/shared/files/apps.py
  app/shared/shared/files/fixtures/filetypes.json
  app/shared/shared/files/migrations/0001_initial.py
  app/shared/shared/files/migrations/__init__.py
  app/shared/shared/files/models.py
Labels: Area: Backend

#837 Add serverless file upload
  app/api/api/serializers.py
  app/api/api/views.py
  app/api/mapping/views.py
  app/api/test/test_services_rules.py
  app/shared/poetry.lock
  app/shared/pyproject.toml
  app/shared/shared/files/service.py
  app/shared/shared/services/rules_export.py
  app/workers/RulesFileQueue/__init__.py
  app/workers/RulesFileQueue/function.json
  app/workers/poetry.lock
  app/workers/shared_code/django_settings.py
  app/workers/shared_code/models.py
Labels: dependencies, Area: Workers, Area: Backend

#838 Add files download API
  app/api/api/urls.py
  app/shared/poetry.lock
  app/shared/pyproject.toml
  app/shared/shared/files/paginations.py
  app/shared/shared/files/serializers.py
  app/shared/shared/files/service.py
  app/shared/shared/files/views.py
Labels: Area: Backend

#839 Add download files UI
  app/api/config/settings.py
  app/next-client-app/api/files.ts
  app/next-client-app/app/(protected)/scanreports/[id]/downloads/columns.tsx
  app/next-client-app/app/(protected)/scanreports/[id]/downloads/page.tsx
  app/next-client-app/app/(protected)/scanreports/[id]/layout.tsx
  app/next-client-app/app/(protected)/scanreports/[id]/mapping_rules/rules-buttons.tsx
  app/next-client-app/components/core/nav-button.tsx
  app/next-client-app/types/files.ts
  app/shared/shared/files/serializers.py
  app/shared/shared/files/views.py
  docker-compose.yml
Labels: Area: Backend

#852 Feat/refactor structure
  app/api/api/deprecated_router.py
  app/api/api/deprecated_serializers.py
  app/api/api/deprecated_urls.py
  app/api/api/deprecated_views.py
  app/api/api/router.py
  app/api/api/serializers.py
  app/api/api/urls.py
  app/api/api/views.py
  app/api/config/settings.py
  app/api/datasets/__init__.py
  app/api/datasets/apps.py
  app/api/datasets/serializers.py
  app/api/datasets/urls.py
  app/api/datasets/views.py
  app/api/projects/__init__.py
  app/api/projects/apps.py
  app/api/projects/serializers.py
  app/api/projects/urls.py
  app/api/projects/views.py
  app/api/pyproject.toml
  app/api/test/test_permissions.py
  app/api/test/test_serializers.py
  app/api/test/test_views.py
  app/next-client-app/api/datasets.ts
  app/react-client-app/src/views/DatasetTbl.jsx
  pyproject.toml
Labels: dependencies, Area: Backend, Area: Frontend

#853 Restructure API endpoints
  app/api/api/deprecated_router.py
  app/api/api/deprecated_serializers.py
  app/api/api/deprecated_urls.py
  app/api/api/deprecated_views.py
  app/api/api/mixins.py
  app/api/api/router.py
  app/api/api/serializers.py
  app/api/api/urls.py
  app/api/api/views.py
  app/api/config/settings.py
  app/api/datasets/urls.py
  app/api/datasets/views.py
  app/api/test/test_views.py
  app/next-client-app/api/concepts.ts
  app/next-client-app/api/datasets.ts
  app/next-client-app/api/files.ts
  app/next-client-app/api/mapping-rules.ts
  app/next-client-app/api/scanreports.ts
  app/next-client-app/app/(protected)/scanreports/[id]/columns.tsx
  app/next-client-app/app/(protected)/scanreports/[id]/downloads/columns.tsx
  app/next-client-app/app/(protected)/scanreports/[id]/downloads/page.tsx
  app/next-client-app/app/(protected)/scanreports/[id]/layout.tsx
  app/next-client-app/app/(protected)/scanreports/[id]/mapping_rules/page.tsx
  app/next-client-app/app/(protected)/scanreports/[id]/page.tsx
  app/next-client-app/app/(protected)/scanreports/[id]/review_rules/page.tsx
  app/next-client-app/app/(protected)/scanreports/[id]/tables/[tableId]/columns.tsx
  app/next-client-app/app/(protected)/scanreports/[id]/tables/[tableId]/fields/[fieldId]/columns.tsx
  app/next-client-app/app/(protected)/scanreports/[id]/tables/[tableId]/fields/[fieldId]/page.tsx
  app/next-client-app/app/(protected)/scanreports/[id]/tables/[tableId]/fields/[fieldId]/update/page.tsx
  app/next-client-app/app/(protected)/scanreports/[id]/tables/[tableId]/page.tsx
  app/next-client-app/app/(protected)/scanreports/[id]/tables/[tableId]/update/page.tsx
  app/next-client-app/components/concepts/ConceptDataTable.tsx
  app/next-client-app/components/concepts/add-concept.tsx
  app/next-client-app/components/core/sidebar.tsx
  app/next-client-app/components/scanreports/ScanReportFieldEditForm.tsx
  app/next-client-app/components/scanreports/ScanReportTableUpdateForm.tsx
  app/next-client-app/types/omop.ts
  app/next-client-app/types/scanreport.ts
  app/shared/pyproject.toml
  app/shared/shared/mapping/permissions.py
Labels: Area: Backend

#858 Fix/ordering fields
  app/api/api/views.py
  app/next-client-app/app/(protected)/scanreports/[id]/page.tsx
Labels: Area: Backend
