Repository Health-Informatics-UoN/carrot-mapper, pull requests merged in 2024-07, with the labels that each got.

#776 Add `isAuthenticated`
  app/api/api/views.py
Labels: Area: Backend

#779 Add Scan Report permissions
  app/api/api/filters.py
  app/api/api/router.py
  app/api/api/views.py
  app/api/poetry.lock
  app/api/pyproject.toml
Labels: dependencies, Area: Backend

#760 Scanreport mapping rules nextjs implementation
  app/api/api/urls.py
  app/api/api/views.py
  app/api/proxy/urls.py
  app/next-client-app/api/mapping-rules.ts
  app/next-client-app/app/scanreports/[id]/mapping_rules/columns.tsx
  app/next-client-app/app/scanreports/[id]/mapping_rules/get-file.tsx
  app/next-client-app/app/scanreports/[id]/mapping_rules/page.tsx
  app/next-client-app/components/data-table/DataTableColumnHeader.tsx
  app/next-client-app/components/ui/dropdown-menu.tsx
  app/next-client-app/components/ui/loading-indicator.tsx
  app/next-client-app/components/ui/scroll-area.tsx
  app/next-client-app/lib/api/request.ts
  app/next-client-app/package-lock.json
  app/next-client-app/package.json
  app/next-client-app/types/mapping-rules.ts
Labels: Area: Backend

#775 Fix fetching Concepts to be conditional
  app/api/api/router.py
  app/api/api/views.py
  app/next-client-app/api/concepts.ts
  app/next-client-app/app/scanreports/[id]/layout.tsx
  app/next-client-app/app/scanreports/[id]/tables/[tableId]/fields/[fieldId]/page.tsx
  app/next-client-app/app/scanreports/[id]/tables/[tableId]/page.tsx
  app/next-client-app/components/concepts/add-concept.tsx
  app/next-client-app/components/core/Forbidden.tsx
Labels: Area: Backend

#777 Adding dataset bug fix
  app/api/api/serializers.py
  app/api/api/views.py
Labels: Area: Backend

#780 Add Create New Dataset Dialog
  app/api/api/views.py
  app/api/config/urls.py
  app/api/proxy/urls.py
  app/next-client-app/api/datasets.ts
  app/next-client-app/app/datasets/page.tsx
  app/next-client-app/app/scanreports/create/page.tsx
  app/next-client-app/components/Tooltips.tsx
  app/next-client-app/components/datasets/CreateDatasetDialog.tsx
  app/next-client-app/components/datasets/CreateDatasetForm.tsx
  app/next-client-app/components/form-components/FormikSelectDataset.tsx
  app/next-client-app/components/form-components/FormikSelectUsers.tsx
  app/next-client-app/components/scanreports/CreateScanReportForm.tsx
  app/next-client-app/components/ui/dialog.tsx
Labels: Area: Backend

#783 Add OpenTelemetry monitoring
  app/api/manage.py
  app/api/poetry.lock
  app/api/pyproject.toml
Labels: dependencies, Area: Backend

#793 Implementation of NextJS to Edit Field view
  app/api/proxy/urls.py
  app/next-client-app/api/scanreports.ts
  app/next-client-app/app/scanreports/[id]/tables/[tableId]/fields/[fieldId]/update/page.tsx
  app/next-client-app/components/scanreports/ScanReportFieldEditForm.tsx
  app/next-client-app/components/ui/checkbox.tsx
  app/next-client-app/components/ui/textarea.tsx
  app/next-client-app/package-lock.json
  app/next-client-app/package.json
Labels: NextJS Client

#796 Fixes for New Scan Report upload view
  app/api/api/serializers.py
  app/api/api/views.py
  app/next-client-app/components/Tooltips.tsx
  app/next-client-app/components/scanreports/CreateScanReportForm.tsx
Labels: Area: Backend

#785 Fix telemetry / gunicorn serving
  app/api/api/views.py
  app/api/gunicorn.conf.py
  app/api/manage.py
  app/entrypoint.sh
Labels: bug, Area: Backend

#801 Fixes for pagination and others.
  app/api/api/views.py
  app/api/config/settings.py
  app/api/pyproject.toml
  app/next-client-app/app/scanreports/[id]/mapping_rules/get-file.tsx
  app/next-client-app/app/scanreports/[id]/mapping_rules/page.tsx
  app/react-client-app/src/components/MappingTbl.jsx
  changelog.md
  pyproject.toml
Labels: dependencies, Area: Backend, Area: Frontend

#803 Values API optimisations
  app/api/api/filters.py
  app/api/api/serializers.py
  app/api/api/views.py
  app/api/config/settings.py
  app/next-client-app/app/scanreports/[id]/tables/[tableId]/fields/[fieldId]/columns.tsx
  app/next-client-app/app/scanreports/[id]/tables/[tableId]/fields/[fieldId]/page.tsx
  app/next-client-app/app/scanreports/columns.tsx
  app/next-client-app/components/ui/table.tsx
  app/next-client-app/constants/scanReportStatus.ts
  app/next-client-app/tailwind.config.ts
  app/next-client-app/types/scanreport.ts
Labels: Area: Backend

#802 Scan Reports Layout improvement
  app/api/proxy/urls.py
  app/next-client-app/app/datasets/[id]/columns.tsx
  app/next-client-app/app/datasets/page.tsx
  app/next-client-app/app/layout.tsx
  app/next-client-app/app/scanreports/[id]/details/page.tsx
  app/next-client-app/app/scanreports/[id]/layout.tsx
  app/next-client-app/app/scanreports/[id]/mapping_rules/@summary_modal/default.tsx
  app/next-client-app/app/scanreports/[id]/mapping_rules/columns.tsx
  app/next-client-app/app/scanreports/[id]/mapping_rules/layout.tsx
  app/next-client-app/app/scanreports/[id]/mapping_rules/page.tsx
  app/next-client-app/app/scanreports/[id]/mapping_rules/rules-buttons.tsx
  app/next-client-app/app/scanreports/[id]/mapping_rules/summary/page.tsx
  app/next-client-app/app/scanreports/[id]/page.tsx
  app/next-client-app/app/scanreports/[id]/review_rules/page.tsx
  app/next-client-app/app/scanreports/[id]/tables/[tableId]/fields/[fieldId]/page.tsx
  app/next-client-app/app/scanreports/[id]/tables/[tableId]/page.tsx
  app/next-client-app/app/scanreports/[id]/tables/[tableId]/update/page.tsx
  app/next-client-app/app/scanreports/columns.tsx
  app/next-client-app/app/scanreports/page.tsx
  app/next-client-app/components/core/boundary.tsx
  app/next-client-app/components/core/nav-button.tsx
  app/next-client-app/components/core/nav-group.tsx
  app/next-client-app/components/data-table/DataTableViewOptions.tsx
  app/next-client-app/components/data-table/index.tsx
  app/next-client-app/components/scanreports/ButtonsRow.tsx
  app/next-client-app/components/scanreports/ScanReportStatus.tsx
  app/next-client-app/package-lock.json
  app/next-client-app/package.json
Labels: Area: Backend

#781 Clean services, delete unused code.
  .vscode/extensions.json
  app/api/api/router.py
  app/api/api/serializers.py
  app/api/api/views.py
  app/api/mapping/data/ClassifedRoledata.csv.csv
  app/api/mapping/data/test.csv
  app/api/mapping/data/value_frequency_test_data.csv
  app/api/mapping/management/commands/generate_rules_json.py
  app/api/mapping/management/commands/refresh_mapping_rules.py
  app/api/mapping/services/__init__.py
  app/api/mapping/services/files.py
  app/api/mapping/services/rules.py
  app/api/mapping/services_nlp.py
  app/api/mapping/urls.py
  app/api/mapping/views.py
  app/api/test/test_services_rules.py
  app/shared/pyproject.toml
  app/shared/shared/services/rules.py
  app/workers/NLPQueue/__init__.py
  app/workers/NLPQueue/function.json
  app/workers/NLPQueue/readme.md
  app/workers/shared_code/omop_helpers.py
  data/tests/nlp_single_string_testdata.csv
  sample-local.settings.json
Labels: Area: Workers, Area: Backend

#810 Add migrations
  app/api/api/views.py
  app/api/pyproject.toml
  app/entrypoint.sh
  changelog.md
  pyproject.toml
Labels: dependencies, Area: Backend
