Repository Health-Informatics-UoN/carrot-mapper, pull requests merged in 2024-05, with the labels that each got.

#699 Change Mapping Rules reuse to a durable function
  .gitignore
  app/api/api/views.py
  app/api/config/settings.py
  app/api/mapping/views.py
  app/shared/pyproject.toml
  app/shared/shared/py.typed
  app/shared/shared/services/rules.py
  app/workers/CreateConcepts/__init__.py
  app/workers/CreateConcepts/function.json
  app/workers/DatabaseTest/__init__.py
  app/workers/DatabaseTest/function.json
  app/workers/MappingRules/__init__.py
  app/workers/MappingRules/function.json
  app/workers/ProcessQueue/__init__.py
  app/workers/ProcessQueue/blob_parser.py
  app/workers/ProcessQueue/function.json
  app/workers/ProcessQueue/helpers.py
  app/workers/ProcessQueue/readme.md
  app/workers/RulesOrchestrator/__init__.py
  app/workers/RulesOrchestrator/function.json
  app/workers/RulesTrigger/__init__.py
  app/workers/RulesTrigger/function.json
  app/workers/host.json
  app/workers/poetry.lock
  app/workers/pyproject.toml
  changelog.md
Labels: dependencies, Area: Workers, Area: Backend

#701 Fixes for Next Client
  app/api/api/views.py
  app/api/config/settings.py
  app/api/proxy/urls.py
  app/next-client-app/api/datasets.ts
  app/next-client-app/api/scanreports.ts
  app/next-client-app/app/datasets/columns.tsx
  app/next-client-app/app/datasets/page.tsx
  app/next-client-app/app/layout.tsx
  app/next-client-app/app/scanreports/columns.tsx
  app/next-client-app/app/scanreports/page.tsx
  app/next-client-app/components/data-table/DataTableFilter.tsx
  app/next-client-app/components/data-table/DataTablePagination.tsx
  app/next-client-app/components/data-table/index.tsx
  app/next-client-app/components/scanreports/ScanReportStatus.tsx
  app/next-client-app/components/ui/breadcrumb.tsx
  app/next-client-app/components/ui/sonner.tsx
  app/next-client-app/lib/api/error.ts
  app/next-client-app/lib/api/request.ts
  app/next-client-app/lib/client-utils.ts
  app/next-client-app/package-lock.json
  app/next-client-app/package.json
  app/next-client-app/tailwind.config.ts
  app/next-client-app/types/dataset.ts
  app/next-client-app/types/filter.ts
  app/next-client-app/types/index.ts
  app/next-client-app/types/scanreport.ts
Labels: Area: Backend

#704 Add Nextjs deployments
  .github/workflows/deploy.yml
Labels: Area: CI

#708 Add Scan Report Tables view
  app/api/api/router.py
  app/api/api/serializers.py
  app/api/api/views.py
  app/api/proxy/urls.py
  app/next-client-app/api/datasets.ts
  app/next-client-app/api/scanreports.ts
  app/next-client-app/app/scanreports/[id]/columns.tsx
  app/next-client-app/app/scanreports/[id]/page.tsx
  app/next-client-app/app/scanreports/[id]/tables/[tableId]/page.tsx
  app/next-client-app/app/scanreports/columns.tsx
  app/next-client-app/components/data-table/index.tsx
  app/next-client-app/lib/client-utils.ts
  app/next-client-app/types/scanreport.ts
Labels: Area: Backend, NextJS Client

#709 Update Scan Reports list filtering
  app/api/api/views.py
  app/next-client-app/app/custom.css
  app/next-client-app/app/datasets/page.tsx
  app/next-client-app/app/scanreports/[id]/page.tsx
  app/next-client-app/app/scanreports/page.tsx
  app/next-client-app/components/data-table/DataTableFilter.tsx
  app/next-client-app/components/data-table/index.tsx
  app/next-client-app/components/scanreports/FacetsFilter.tsx
  app/next-client-app/components/scanreports/ScanReportStatus.tsx
  app/next-client-app/components/scanreports/ScanReportsTableFilter.tsx
  app/next-client-app/components/ui/badge.tsx
  app/next-client-app/components/ui/command.tsx
  app/next-client-app/components/ui/dialog.tsx
  app/next-client-app/components/ui/label.tsx
  app/next-client-app/components/ui/popover.tsx
  app/next-client-app/components/ui/separator.tsx
  app/next-client-app/constants/scanReportStatus.ts
  app/next-client-app/lib/client-utils.ts
  app/next-client-app/package-lock.json
  app/next-client-app/package.json
  app/next-client-app/types/filter.ts
Labels: Area: Backend

#710 Next client fixes for deployment
  app/api/proxy/urls.py
  app/next-client-app/app/scanreports/[id]/columns.tsx
  app/next-client-app/app/scanreports/[id]/page.tsx
  app/next-client-app/components/data-table/index.tsx
  app/next-client-app/components/scanreports/FacetsFilter.tsx
  app/next-client-app/tailwind.config.ts
  app/next-client-app/types/filter.ts
Labels: Area: Backend

#713 Fix dependencies deployment
  app/workers/poetry.lock
  app/workers/pyproject.toml
Labels: dependencies, Area: Workers

#716 Add a Scan Report permissions API
  app/api/api/urls.py
  app/api/api/views.py
  app/api/mapping/permissions.py
  app/next-client-app/api/scanreports.ts
  app/next-client-app/types/permissions.ts
Labels: Area: Backend

#721 Fix rules serializing to views + CSV
  app/api/api/views.py
  app/api/mapping/services_rules.py
  app/react-client-app/src/components/RulesTbl.jsx
Labels: Area: Backend, Area: Frontend

#720 Update serverless concept creation to use the db
  app/api/api/views.py
  app/shared/poetry.lock
  app/shared/pyproject.toml
  app/workers/CreateConcepts/__init__.py
  app/workers/RulesConceptsActivity/__init__.py
  app/workers/RulesConceptsActivity/function.json
  app/workers/RulesConceptsActivity/reuse.py
  app/workers/RulesGenerationActivity/__init__.py
  app/workers/RulesGenerationActivity/function.json
  app/workers/RulesOrchestrator/__init__.py
  app/workers/RulesQueue/__init__.py
  app/workers/RulesQueue/function.json
  app/workers/RulesTrigger/__init__.py
  app/workers/RulesTrigger/function.json
  app/workers/WorkerStatus/__init__.py
  app/workers/WorkerStatus/function.json
  app/workers/poetry.lock
  app/workers/pyproject.toml
  app/workers/shared_code/api.py
  app/workers/shared_code/blob_parser.py
  app/workers/shared_code/db.py
  app/workers/shared_code/helpers.py
  app/workers/shared_code/models.py
  app/workers/shared_code/omop_helpers.py
  app/workers/test/RulesConceptsActivity/test_create_concepts.py
  app/workers/test/shared_code/test_helpers.py
  changelog.md
Labels: dependencies, Area: Workers, Area: Backend

#714 Scan Report Fields Next.js Implementation
  app/api/api/router.py
  app/api/api/serializers.py
  app/api/api/views.py
  app/api/proxy/urls.py
  app/next-client-app/api/concepts.ts
  app/next-client-app/api/scanreports.ts
  app/next-client-app/app/custom.css
  app/next-client-app/app/layout.tsx
  app/next-client-app/app/scanreports/[id]/columns.tsx
  app/next-client-app/app/scanreports/[id]/page.tsx
  app/next-client-app/app/scanreports/[id]/tables/[tableId]/add-concept.tsx
  app/next-client-app/app/scanreports/[id]/tables/[tableId]/columns.tsx
  app/next-client-app/app/scanreports/[id]/tables/[tableId]/concept-tags.tsx
  app/next-client-app/app/scanreports/[id]/tables/[tableId]/page.tsx
  app/next-client-app/app/scanreports/columns.tsx
  app/next-client-app/app/scanreports/page.tsx
  app/next-client-app/components/data-table/index.tsx
  app/next-client-app/components/scanreports/ScanReportStatus.tsx
  app/next-client-app/lib/api/request.ts
  app/next-client-app/lib/concept-utils.ts
  app/next-client-app/package-lock.json
  app/next-client-app/package.json
  app/next-client-app/tailwind.config.ts
  app/next-client-app/types/concepts.ts
  app/next-client-app/types/index.ts
  app/next-client-app/types/omop.ts
  app/next-client-app/types/scanreport.ts
Labels: Area: Backend, NextJS Client

#732 Implementation of NextJS to Scanreports - Edit Table view
  app/api/proxy/urls.py
  app/next-client-app/api/scanreports.ts
  app/next-client-app/app/scanreports/[id]/tables/[tableId]/fields/[fieldId]/page.tsx
  app/next-client-app/app/scanreports/[id]/tables/[tableId]/update/page.tsx
  app/next-client-app/components/data-table/index.tsx
  app/next-client-app/components/ui/alert.tsx
  app/next-client-app/components/update-SR-table/DateEvent.tsx
  app/next-client-app/components/update-SR-table/PersonID.tsx
  app/next-client-app/components/update-SR-table/UpdateForm.tsx
  app/next-client-app/types/dataset.ts
  app/next-client-app/types/scanreport.ts
Labels: Area: Backend
