Repository Health-Informatics-UoN/carrot-mapper, pull requests merged in 2024-06, with the labels that each got.

#739 Update readme
  README.md
  app/api/templates/base.html
  app/next-client-app/app/layout.tsx
  app/next-client-app/components/Navbar.tsx
Labels: Area: Backend

#755 Release V2.2
  app/api/pyproject.toml
  changelog.md
Labels: dependencies, Area: Backend

#758 Fix bug of refreshing making disordering records
  app/api/api/views.py
Labels: Area: Backend

#759 Implementation of NextJS to Dataset Details view
  app/api/api/serializers.py
  app/api/api/urls.py
  app/api/api/views.py
  app/api/mapping/permissions.py
  app/api/proxy/urls.py
  app/next-client-app/api/datasets.ts
  app/next-client-app/app/datasets/[id]/columns.tsx
  app/next-client-app/app/datasets/[id]/details/page.tsx
  app/next-client-app/app/datasets/[id]/page.tsx
  app/next-client-app/components/Tooltips.tsx
  app/next-client-app/components/datasets/DatasetForm.tsx
  app/next-client-app/components/form-components/FormikSelect.tsx
  app/next-client-app/components/form-components/FormikUtils.tsx
  app/next-client-app/components/ui/switch.tsx
  app/next-client-app/components/ui/tooltip.tsx
  app/next-client-app/package-lock.json
  app/next-client-app/package.json
  app/next-client-app/types/dataset.ts
Labels: Area: Backend, NextJS Client

#767 Update deployments workflow app-names
  .github/workflows/deploy.production.yml
  .github/workflows/deploy.yml
Labels: Area: CI

#766 Update Python dependencies
  app/api/poetry.lock
  app/api/pyproject.toml
  app/shared/poetry.lock
  app/shared/pyproject.toml
  app/workers/poetry.lock
  app/workers/pyproject.toml
  changelog.md
Labels: dependencies, Area: Workers, Area: Backend
