Repository Health-Informatics-UoN/carrot-mapper, pull requests merged in 2025-08, with the labels that each got.

#1167 Update forms for consistency and improved experience
  app/next-client-app/app/(protected)/scanreports/[id]/details/page.tsx
  app/next-client-app/app/(protected)/scanreports/[id]/tables/[tableId]/fields/[fieldId]/page.tsx
  app/next-client-app/app/(protected)/scanreports/[id]/tables/[tableId]/page.tsx
  app/next-client-app/app/(protected)/scanreports/[id]/tables/[tableId]/update/page.tsx
  app/next-client-app/app/(protected)/scanreports/create/page.tsx
  app/next-client-app/app/globals.css
  app/next-client-app/components/core/mode-toggle.tsx
  app/next-client-app/components/core/nav-button.tsx
  app/next-client-app/components/core/sidebar-button.tsx
  app/next-client-app/components/data-table/index.tsx
  app/next-client-app/components/datasets/CreateDatasetForm.tsx
  app/next-client-app/components/datasets/DatasetForm.tsx
  app/next-client-app/components/form-components/FormikSelectUsers.tsx
  app/next-client-app/components/scanreports/CreateScanReportForm.tsx
  app/next-client-app/components/scanreports/FacetsFilter.tsx
  app/next-client-app/components/scanreports/ScanReportDetailsForm.tsx
  app/next-client-app/components/scanreports/ScanReportFieldEditForm.tsx
  app/next-client-app/components/scanreports/ScanReportTableUpdateForm.tsx
  app/next-client-app/components/ui/alert.tsx
  app/next-client-app/components/ui/drawer.tsx
  app/next-client-app/components/ui/form.tsx
  app/next-client-app/components/ui/input.tsx
  app/next-client-app/components/ui/tabs.tsx
Labels: Area: Frontend

#1165 Added Show users on datasets/scan reports
  app/api/api/serializers.py
  app/api/datasets/serializers.py
  app/next-client-app/app/(protected)/datasets/[id]/layout.tsx
  app/next-client-app/app/(protected)/projects/[id]/layout.tsx
  app/next-client-app/app/(protected)/scanreports/[id]/layout.tsx
  app/next-client-app/components/datasets/DatasetForm.tsx
  app/next-client-app/components/scanreports/ScanReportDetailsForm.tsx
  app/next-client-app/types/dataset.ts
  app/next-client-app/types/scanreport.ts
Labels: Area: Backend, Area: Frontend

#1173 Made Badge Clickable
  app/next-client-app/app/(protected)/datasets/[id]/layout.tsx
Labels: Area: Frontend

#1170 Remove Azure functions from workflows/compose
  .github/labeler.yml
  .github/workflows/ci.yml
  .github/workflows/deploy.production.yml
  .github/workflows/deploy.yml
  .github/workflows/publish.yml
  .github/workflows/test.yml
  docker-compose.yml
  sample-env.txt
  sample-local.settings.json
Labels: Area: CI

#1172 Fix forms ordering and redirecting
  app/api/api/views.py
  app/api/datasets/views.py
  app/next-client-app/api/datasets.ts
  app/next-client-app/api/scanreports.ts
Labels: Area: Backend, Area: Frontend

#1184 Fix responsive views and improvements
  app/next-client-app/app/(protected)/datasets/[id]/layout.tsx
  app/next-client-app/app/(protected)/datasets/[id]/page.tsx
  app/next-client-app/app/(protected)/datasets/columns.tsx
  app/next-client-app/app/(protected)/projects/[id]/columns.tsx
  app/next-client-app/app/(protected)/projects/[id]/layout.tsx
  app/next-client-app/app/(protected)/projects/columns.tsx
  app/next-client-app/app/(protected)/scanreports/[id]/downloads/columns.tsx
  app/next-client-app/app/(protected)/scanreports/[id]/layout.tsx
  app/next-client-app/app/(protected)/scanreports/[id]/page.tsx
  app/next-client-app/app/(protected)/scanreports/[id]/tables/[tableId]/fields/[fieldId]/columns.tsx
  app/next-client-app/app/(protected)/scanreports/[id]/tables/[tableId]/page.tsx
  app/next-client-app/app/(protected)/scanreports/columns.tsx
  app/next-client-app/app/(protected)/scanreports/page.tsx
  app/next-client-app/components/concepts/ConceptDataTable.tsx
  app/next-client-app/components/data-table/index.tsx
  app/next-client-app/components/scanreports/ScanReportsTableClient.tsx
  app/next-client-app/components/scanreports/ScanReportsTableFilter.tsx
  app/next-client-app/components/scanreports/TableBreadcrumbs.tsx
Labels: Area: Frontend

#1187 Add Airflow callback function when DAG failed/timed-out
  .github/workflows/label.yml
  app/airflow/dags/auto_mapping_dag.py
  app/airflow/dags/libs/SR_processing/core.py
  app/airflow/dags/libs/SR_processing/db_services.py
  app/airflow/dags/libs/auto_mapping/core_get_existing_concepts.py
  app/airflow/dags/libs/auto_mapping/core_prep_rules_creation.py
  app/airflow/dags/libs/auto_mapping/core_rules_creation.py
  app/airflow/dags/libs/auto_mapping/find_R_concepts_to_reuse.py
  app/airflow/dags/libs/auto_mapping/find_standard_V_concepts.py
  app/airflow/dags/libs/auto_mapping/search_recommendations.py
  app/airflow/dags/libs/rules_export/core.py
  app/airflow/dags/libs/rules_export/file_services.py
  app/airflow/dags/libs/utils.py
  app/airflow/dags/rules_export_dag.py
  app/next-client-app/app/(protected)/scanreports/[id]/downloads/download-status.tsx
  app/next-client-app/app/(protected)/scanreports/[id]/mapping_rules/columns.tsx
  app/next-client-app/components/jobs/JobDialog.tsx
  app/next-client-app/components/jobs/columns.tsx
  app/next-client-app/components/scanreports/CreateScanReportForm.tsx
Labels: Area: CI, Area: Frontend, Area: Airflow

#1178 Delete workers / shared library
  .github/labeler.yml
  .vscode/carrot.code-workspace
  app/shared/.vscode/settings.json
  app/shared/pyproject.toml
  app/shared/shared/__init__.py
  app/shared/shared/py.typed
  app/shared/test/__init__.py
  app/shared/test/services/settings.py
  app/shared/test/services/test_azurequeue.py
  app/shared/test/services/test_rules.py
  app/shared/uv.lock
  app/workers/.dockerignore
  app/workers/.gitignore
  app/workers/.vscode/launch.json
  app/workers/.vscode/settings.json
  app/workers/Dockerfile
  app/workers/RulesConceptsActivity/__init__.py
  app/workers/RulesConceptsActivity/function.json
  app/workers/RulesConceptsActivity/reuse.py
  app/workers/RulesFileQueue/__init__.py
  app/workers/RulesFileQueue/function.json
  app/workers/RulesGenerationActivity/__init__.py
  app/workers/RulesGenerationActivity/function.json
  app/workers/RulesOrchestrator/__init__.py
  app/workers/RulesOrchestrator/function.json
  app/workers/RulesQueue/__init__.py
  app/workers/RulesQueue/function.json
  app/workers/RulesTrigger/__init__.py
  app/workers/RulesTrigger/function.json
  app/workers/UploadQueue/__init__.py
  app/workers/UploadQueue/function.json
  app/workers/WorkerStatus/__init__.py
  app/workers/WorkerStatus/function.json
  app/workers/host.json
  app/workers/pyproject.toml
  app/workers/shared_code/__init__.py
  app/workers/shared_code/db.py
  app/workers/shared_code/django_settings.py
  app/workers/shared_code/helpers.py
  app/workers/shared_code/logger.py
  app/workers/shared_code/models.py
  app/workers/test/RulesConceptsActivity/test_create_concepts.py
  app/workers/test/UploadQueue/test_upload.py
  app/workers/test/__init__.py
  app/workers/test/shared_code/test_blob_parser.py
  app/workers/test/shared_code/test_helpers.py
  app/workers/uv.lock
  docker-compose.yml
Labels: Area: CI

#1192 Add server side values backend filtering, API
  app/api/api/filters.py
  app/api/api/serializers.py
  app/api/api/urls.py
  app/api/api/views.py
  pyproject.toml
  uv.lock
Labels: dependencies, Area: Backend

#1199 Fix Empty state in lists
  app/next-client-app/app/(protected)/datasets/[id]/page.tsx
  app/next-client-app/app/(protected)/datasets/page.tsx
  app/next-client-app/app/(protected)/projects/[id]/page.tsx
  app/next-client-app/app/(protected)/projects/page.tsx
  app/next-client-app/app/(protected)/scanreports/page.tsx
  app/next-client-app/components/data-table/index.tsx
  app/next-client-app/components/recommendations/ai-suggestions-dialog.tsx
  app/next-client-app/components/ui/empty-state.tsx
Labels: Area: Frontend

#1204 Completed UI changes to download V2 JSON
  app/airflow/dags/libs/rules_export/core.py
  app/airflow/dags/libs/utils.py
  app/api/files/fixtures/filetypes.json
  app/api/files/views.py
  app/next-client-app/app/(protected)/scanreports/[id]/actions-download-menu.tsx
  app/next-client-app/app/(protected)/scanreports/[id]/downloads/columns.tsx
  app/next-client-app/components/recommendations/stored-recommendations-button.tsx
  app/next-client-app/types/files.ts
Labels: Area: Backend, Area: Frontend, Area: Airflow
