Repository Health-Informatics-UoN/carrot-mapper, pull requests merged in 2025-04, with the labels that each got.

#1000 Feature Added - MinIO
  .github/workflows/test.yml
  app/api/api/views.py
  app/api/config/settings.py
  app/api/poetry.lock
  app/api/pyproject.toml
  app/shared/shared/files/views.py
  app/shared/shared/services/storage_service.py
  app/workers/RulesFileQueue/__init__.py
  app/workers/poetry.lock
  app/workers/pyproject.toml
  docker-compose.yml
Labels: dependencies, Area: CI, Area: Workers, Area: Backend

#1002 Airflow workers initalisation
  .github/workflows/publish.yml
  .gitignore
  .pre-commit-config.yaml
  .vscode/carrot.code-workspace
  app/airflow/.gitignore
  app/airflow/Dockerfile.scheduler
  app/airflow/Dockerfile.webserver
  app/airflow/dags/auto_mapping_orchestrator_dag.py
  app/airflow/dags/concepts_from_vocab_dag.py
  app/airflow/dags/libs/__init__.py
  app/airflow/dags/libs/core.py
  app/airflow/dags/libs/utils.py
  app/airflow/entrypoint-scheduler.sh
  app/airflow/entrypoint-webserver.sh
  app/airflow/pyproject.toml
  app/airflow/uv.lock
  app/next-client-app/next-env.d.ts
  docker-compose.yml
Labels: Area: CI, Area: Frontend

#1001 Automatic Queue and Container Creation - Feature Added
  app/api/Dockerfile
  app/api/entrypoint.sh
  app/shared/shared/mapping/management/commands/automatic_queue_and_containers_creation.py
  docker-compose.yml
Labels: Area: Backend

#1015 Added validator for dd & sr
  app/api/api/logger.py
  app/api/api/serializers.py
Labels: Area: Backend

#1012 Password reset
  app/api/authn/urls.py
  app/api/authn/views.py
  app/api/config/settings.py
  app/api/poetry.lock
  app/next-client-app/api/password-reset.ts
  app/next-client-app/app/(protected)/password-reset/page.tsx
  app/next-client-app/app/(public)/accounts/login/page.tsx
  app/next-client-app/components/core/UserMenu.tsx
  app/next-client-app/components/core/sidebar.tsx
  docker-compose.yml
Labels: dependencies, Area: Backend, Area: Frontend

#1025 Poetry to UV for Workers
  .github/workflows/test.yml
  app/workers/Dockerfile
  app/workers/poetry.lock
  app/workers/pyproject.toml
  app/workers/uv.lock
Labels: dependencies, Area: CI, Area: Workers

#1024 Migrated to UV for Root
  poetry.lock
  pyproject.toml
  uv.lock
Labels: dependencies

#1022 Migrated to UV for API and Shared
  .github/workflows/test.yml
  app/api/Dockerfile
  app/api/poetry.lock
  app/api/pyproject.toml
  app/api/uv.lock
  app/shared/poetry.lock
  app/shared/pyproject.toml
  app/shared/uv.lock
Labels: dependencies, Area: CI, Area: Backend

#1017 Added new workers RCA func for Airflow
  app/api/api/serializers.py
  app/shared/shared/services/field_vocab_mappings.py
  app/shared/shared/services/models.py
  app/workers/shared_code/models.py
Labels: Area: Workers, Area: Backend
