Repository Health-Informatics-UoN/carrot-mapper, pull requests merged in 2025-07, with the labels that each got.

#1140 API V3 for SR Values / Concepts
  app/api/api/serializers.py
  app/api/api/urls.py
  app/api/api/views.py
Labels: Area: Backend

#1146 Completed Removing Duplicate actions button #1076
  app/next-client-app/app/(protected)/scanreports/[id]/actions-download-menu.tsx
  app/next-client-app/app/(protected)/scanreports/[id]/layout.tsx
  app/next-client-app/app/(protected)/scanreports/[id]/mapping_rules/rules-buttons.tsx
  app/next-client-app/app/globals.css
  app/next-client-app/components/scanreports/DeleteDialog.tsx
  app/next-client-app/components/scanreports/ExportScanReport.tsx
Labels: Area: Frontend

#1161 Fix: Consistent File Size Limits for Scan Reports and Data Dictionaries
  app/api/api/serializers.py
  app/api/config/settings.py
  app/next-client-app/components/scanreports/CreateScanReportForm.tsx
  app/next-client-app/constants/config.js
  app/next-client-app/constants/index.ts
  app/next-client-app/next.config.js
  docker-compose.yml
Labels: Area: Backend, Area: Frontend

#1164 Fix undefined client request unavailable data
  app/next-client-app/app/(protected)/scanreports/[id]/tables/[tableId]/update/page.tsx
Labels: Area: Frontend
