Repository Health-Informatics-UoN/carrot-mapper, pull requests merged in 2025-06, with the labels that each got.

#1057 🛠️ Repository Maintenance – Dependency Updates
  app/api/config/settings.py
  app/api/pyproject.toml
  app/api/uv.lock
  app/next-client-app/app/(protected)/datasets/[id]/details/page.tsx
  app/next-client-app/app/(protected)/datasets/[id]/layout.tsx
  app/next-client-app/app/(protected)/datasets/[id]/page.tsx
  app/next-client-app/app/(protected)/datasets/page.tsx
  app/next-client-app/app/(protected)/projects/[id]/layout.tsx
  app/next-client-app/app/(protected)/projects/[id]/page.tsx
  app/next-client-app/app/(protected)/projects/page.tsx
  app/next-client-app/app/(protected)/scanreports/[id]/details/page.tsx
  app/next-client-app/app/(protected)/scanreports/[id]/downloads/page.tsx
  app/next-client-app/app/(protected)/scanreports/[id]/layout.tsx
  app/next-client-app/app/(protected)/scanreports/[id]/mapping_rules/page.tsx
  app/next-client-app/app/(protected)/scanreports/[id]/page.tsx
  app/next-client-app/app/(protected)/scanreports/[id]/review_rules/page.tsx
  app/next-client-app/app/(protected)/scanreports/[id]/tables/[tableId]/fields/[fieldId]/page.tsx
  app/next-client-app/app/(protected)/scanreports/[id]/tables/[tableId]/fields/[fieldId]/update/page.tsx
  app/next-client-app/app/(protected)/scanreports/[id]/tables/[tableId]/page.tsx
  app/next-client-app/app/(protected)/scanreports/[id]/tables/[tableId]/update/page.tsx
  app/next-client-app/app/(protected)/scanreports/page.tsx
  app/next-client-app/components/core/theme-provider.tsx
  app/next-client-app/next-env.d.ts
  app/next-client-app/next.config.js
  app/next-client-app/package-lock.json
  app/next-client-app/package.json
  app/next-client-app/tsconfig.json
  app/shared/pyproject.toml
  app/shared/uv.lock
  app/workers/pyproject.toml
  docker-compose.yml
Labels: dependencies, Area: Workers, Area: Backend, Area: Frontend

#1095 Add workflow to deploy Airflow to Test instance
  .github/workflows/deploy-Airflow.non-prod.yml
Labels: Area: CI

#1101 Tidy up docker compose file
  app/shared/shared/mapping/management/commands/automatic_queue_and_containers_creation.py
  docker-compose.yml
Labels: Area: Backend

#1103 Fix Environment variables config for Nextjs and set drop R concepts
  .github/workflows/deploy.production.yml
  .github/workflows/deploy.yml
  app/airflow/dags/libs/auto_mapping/find_R_concepts_to_reuse.py
  app/next-client-app/app/layout.tsx
  app/next-client-app/components/scanreports/ScanReportTableUpdateForm.tsx
  app/next-client-app/next.config.js
  app/next-client-app/package-lock.json
  app/next-client-app/package.json
  docker-compose.yml
Labels: dependencies, Area: CI, Area: Frontend

#1105 Optimise Dockerfile of Airflow
  .github/workflows/deploy-Airflow.non-prod.yml
  app/airflow/Dockerfile
  app/airflow/Dockerfile.webserver
  docker-compose.yml
Labels: Area: CI

#1108 Add workflow to build and deploy Airflow to Production
  .github/workflows/deploy-Airflow.non-prod.yml
  .github/workflows/deploy.production.yml
  .github/workflows/deploy.yml
Labels: Area: CI

#1106 Add migration to create indexes in the DB on startup
  app/api/test/conftest.py
  app/shared/shared/mapping/migrations/0007_alter_dataset_hidden_alter_mappingstatus_value_and_more.py
  app/shared/shared/mapping/models.py
Labels: Area: Backend

#1115 Remove time-consuming index creation in migration
  app/shared/shared/mapping/migrations/0007_alter_dataset_hidden_alter_mappingstatus_value_and_more.py
Labels: Area: Backend

#1125 Add codeowners
  .github/CODEOWNERS
Labels: Area: CI

#1128 Remove Unused Fields and Tables from Shared/Mapping/Models
  app/api/api/views.py
  app/shared/shared/mapping/admin.py
  app/shared/shared/mapping/migrations/0009_delete_classificationsystem_delete_nlpmodel_and_more.py
  app/shared/shared/mapping/models.py
Labels: Area: Backend

#1124 Add Scan Report Concept created_by
  .github/CODEOWNERS
  app/api/api/views.py
  app/api/pyproject.toml
  app/api/uv.lock
  app/shared/shared/mapping/migrations/0010_scanreportconcept_confidence_and_more.py
  app/shared/shared/mapping/models.py
Labels: dependencies, Area: CI, Area: Backend
