Repository Health-Informatics-UoN/carrot-mapper, pull requests merged in 2025-05, with the labels that each got.

#1032 fix #1031
  app/api/config/settings.py
Labels: Area: Backend

#1038 Optimize Docker Builds: Multi-stage & Layer Reduction
  app/api/.dockerignore
  app/api/Dockerfile
  app/api/pyproject.toml
  app/workers/.dockerignore
  app/workers/Dockerfile
Labels: dependencies, Area: Workers, Area: Backend

#1040 Adding validator for Allowed Domains in RCA
  app/workers/RulesConceptsActivity/__init__.py
Labels: Area: Workers

#1037 Add Carrot-Airflow connection
  app/airflow/dags/auto_mapping_dag.py
  app/airflow/dags/libs/find_R_concepts_to_reuse.py
  app/airflow/dags/libs/find_standard_V_concepts.py
  app/airflow/dags/libs/queries.py
  app/airflow/dags/libs/utils.py
  app/api/api/views.py
  app/api/config/settings.py
  app/shared/shared/enums.py
  app/shared/shared/files/views.py
  app/shared/shared/services/field_vocab_mappings.py
  app/shared/shared/services/worker_service.py
  docker-compose.yml
Labels: Area: Backend

#1042 Upgraded - Concept Mapping Logic
  app/workers/RulesConceptsActivity/__init__.py
Labels: Area: Workers

#1053 UV Compatible - Production Yaml
  .github/workflows/deploy.production.yml
Labels: Area: CI

#1055 Add Scan report processing DAG
  app/airflow/Dockerfile.scheduler
  app/airflow/Dockerfile.webserver
  app/airflow/dags/SR_processing_dag.py
  app/airflow/dags/auto_mapping_dag.py
  app/airflow/dags/libs/SR_processing/core.py
  app/airflow/dags/libs/SR_processing/db_services.py
  app/airflow/dags/libs/SR_processing/helpers.py
  app/airflow/dags/libs/auto_mapping/core_get_existing_concepts.py
  app/airflow/dags/libs/auto_mapping/core_prep_rules_creation.py
  app/airflow/dags/libs/auto_mapping/core_rules_creation.py
  app/airflow/dags/libs/auto_mapping/find_R_concepts_to_reuse.py
  app/airflow/dags/libs/auto_mapping/find_standard_V_concepts.py
  app/airflow/dags/libs/enums.py
  app/airflow/dags/libs/queries.py
  app/airflow/dags/libs/utils.py
  app/airflow/pyproject.toml
  app/airflow/uv.lock
  app/shared/shared/services/worker_service.py
  docker-compose.yml
Labels: Area: Backend

#1062 Try dockerfile
  app/api/Dockerfile
  app/api/entrypoint.sh
Labels: Area: Backend

#1080 Fix Airflow publish/deploy workflow
  .github/workflows/deploy-Airflow.non-prod.yml
Labels: Area: CI

#1092 Hot fix for rules generation
  app/workers/RulesConceptsActivity/reuse.py
Labels: Area: Workers
