Repository Health-Informatics-UoN/carrot-mapper, pull requests merged in 2025-03, with the labels that each got.

#964 Feat/946/default admin
  app/api/config/settings.py
  app/api/entrypoint.sh
  app/api/test/test_setup.py
  app/shared/shared/mapping/management/commands/default_super_user.py
Labels: Area: Backend

#986 Optimise Rules creation logic
  app/api/api/views.py
  app/shared/shared/mapping/management/commands/refresh_mapping_rules.py
  app/shared/shared/services/rules.py
  app/workers/RulesConceptsActivity/__init__.py
Labels: Area: Workers, Area: Backend

#987 Storage code refactor
  app/api/api/views.py
  app/api/config/settings.py
  app/next-client-app/components/scanreports/ScanReportFieldEditForm.tsx
  app/shared/shared/files/service.py
  app/shared/shared/files/views.py
  app/shared/shared/mapping/forms.py
  app/shared/shared/mapping/urls.py
  app/shared/shared/mapping/views.py
  app/shared/shared/services/storage_service.py
  app/shared/shared/services/utils.py
  app/workers/RulesConceptsActivity/__init__.py
  app/workers/RulesFileQueue/__init__.py
  app/workers/UploadQueue/__init__.py
  app/workers/shared_code/blob_parser.py
  app/workers/test/shared_code/test_blob_parser.py
  docker-compose.yml
Labels: Area: Workers, Area: Backend, Area: Frontend

#995 Added copy to clipboard button on Scan report tables
  app/next-client-app/app/(protected)/scanreports/[id]/columns.tsx
  app/next-client-app/app/(protected)/scanreports/[id]/tables/[tableId]/columns.tsx
  app/next-client-app/app/(protected)/scanreports/[id]/tables/[tableId]/fields/[fieldId]/columns.tsx
  app/next-client-app/components/core/CopyButton.tsx
Labels: Area: Frontend

#999 Making Edit scan report button more visible
  .vscode/carrot.code-workspace
  .vscode/extensions.json
  app/next-client-app/app/(protected)/scanreports/[id]/layout.tsx
Labels: Area: Frontend
